html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
	display:block;
}

body{
	line-height:1;
}

ol, ul{
	list-style:none;
}

blockquote, q{
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}

html{
  font-family:sans-serif;
  font-family:-apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color:black;
  color:black;
  color:#040404;
  background-color:white;
  background-color:white;
  background-color:#ffffff;
  font-size:16px;
  font-size:16px;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

body{
  min-height:100vh;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){

body{
    height:100vh
}
  }

*,
*::before,
*::after{
  -webkit-box-sizing:inherit;
          box-sizing:inherit;
}

a{
  color:inherit;
  text-decoration:none;
  background-color:transparent;
  outline:0;
}

hr{
  margin:0;
  border:0;
}

svg{
  fill:currentColor;
}

:root{

}

.a{
  cursor:pointer;
}

.a-anchor{
    display:block;
  }

.image{
  display:block;
  max-width:100%;
  width:auto;
  height:auto;
}

.image-fill{
    width:100%;
  }

.al{ text-align:left; }

.ar{ text-align:right; }

.ac{ text-align:center; }

.uc{ text-transform:uppercase; }

.lc{ text-transform:lowercase; }

.cc{ text-transform:capitalize; }

.nc{ text-transform:none; }

.h1{ font-size:40px; font-size:2.5rem; }

.h2{ font-size:32px; font-size:2.0rem; }

.h3{ font-size:24px; font-size:1.5rem; }

.h4{ font-size:20px; font-size:1.25rem; }

.h5{ font-size:18px; font-size:1.125rem; }

.h6{ font-size:17px; font-size:1.0625rem; }

.f0{ font-size:16px; font-size:1rem; }

.f1{ font-size:15px; font-size:0.9375rem; }

.f2{ font-size:14px; font-size:0.875rem; }

.f3{ font-size:13px; font-size:0.8125rem; }

.f4{ font-size:12px; font-size:0.75rem; }

.lh0{ line-height:1; }

.lh1{ line-height:1.125 }

.lh2{ line-height:1.1875; }

.lh3{ line-height:1.375; }

.lh4{ line-height:1.5; }

.lh5{ line-height:2; }

.normal{ font-weight:normal; }

.bold{ font-weight:bold; }

.fw100{ font-weight:100; }

.fw200{ font-weight:200; }

.fw300{ font-weight:300; }

.fw400{ font-weight:400; }

.fw500{ font-weight:500; }

.fw600{ font-weight:600; }

.fw700{ font-weight:700; }

.fw800{ font-weight:800; }

.fw900{ font-weight:900; }

.italic{ font-style:italic; }

.ol{ text-decoration:overline; }

.ul{ text-decoration:underline; }

.st{ text-decoration:line-through; }

.nowrap{ white-space:nowrap; }

.code{
  font-family:monospace;
  font-family:'Menlo', 'Andale Mono', monospace;
}

@media (min-width: 32rem){
    .sd-h1{ font-size:2.5rem; }
    .sd-h2{ font-size:2.0rem; }
    .sd-h3{ font-size:1.5rem; }
    .sd-h4{ font-size:1.25rem; }
    .sd-h5{ font-size:1.125rem; }
    .sd-h6{ font-size:1.0625rem; }
}

@media (min-width: 48rem){
    .md-h1{ font-size:2.5rem; }
    .md-h2{ font-size:2.0rem; }
    .md-h3{ font-size:1.5rem; }
    .md-h4{ font-size:1.25rem; }
    .md-h5{ font-size:1.125rem; }
    .md-h6{ font-size:1.0625rem; }
}

@media (min-width: 64rem){
    .ld-h1{ font-size:2.5rem; }
    .ld-h2{ font-size:2.0rem; }
    .ld-h3{ font-size:1.5rem; }
    .ld-h4{ font-size:1.25rem; }
    .ld-h5{ font-size:1.125rem; }
    .ld-h6{ font-size:1.0625rem; }
}

.show{ display:block; }

.hide{ display:none; }

.visible{ visibility:visible; }

.invisible{ visibility:hidden; }

@media (min-width: 32rem){
    .sd-show{ display:block; }
    .sd-hide{ display:none; }
}

@media (min-width: 48rem){
    .md-show{ display:block; }
    .md-hide{ display:none; }
}

@media (min-width: 64rem){
    .ld-show{ display:block; }
    .ld-hide{ display:none; }
}

.max{ max-width:none; }

.max4{ max-width:64px; max-width:4rem; }

.max6{ max-width:96px; max-width:6rem; }

.max8{ max-width:128px; max-width:8rem; }

.max10{ max-width:160px; max-width:10rem; }

.max12{ max-width:192px; max-width:12rem; }

.max16{ max-width:256px; max-width:16rem; }

.max20{ max-width:320px; max-width:20rem; }

.max24{ max-width:384px; max-width:24rem; }

.max30{ max-width:480px; max-width:30rem; }

.max32{ max-width:512px; max-width:32rem; }

.max36{ max-width:576px; max-width:36rem; }

.max40{ max-width:640px; max-width:40rem; }

.max48{ max-width:768px; max-width:48rem; }

.max50{ max-width:800px; max-width:50rem; }

.max56{ max-width:896px; max-width:56rem; }

.max60{ max-width:960px; max-width:60rem; }

.max64{ max-width:1024px; max-width:64rem; }

.max70{ max-width:1120px; max-width:70rem; }

.max72{ max-width:1152px; max-width:72rem; }

.max80{ max-width:1280px; max-width:80rem; }

.max90{ max-width:1440px; max-width:90rem; }

.row{ display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-orient:horizontal; -webkit-box-direction:normal; -ms-flex-direction:row; flex-direction:row; }

.col{ display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column; }

.flex-wrap{
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
  }

.grid{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}

.grid2 > *{ width:50%; }

.grid3 > *{ width:33.33333%; }

.grid4 > *{ width:25%; }

.grid5 > *{ width:20%; }

.grid6 > *{ width:16.66667%; }

@supports (display: grid){

.grid{
    display:grid
}
    .grid2{ grid-template-columns:repeat(2, 1fr); }
    .grid3{ grid-template-columns:repeat(3, 1fr); }
    .grid4{ grid-template-columns:repeat(4, 1fr); }
    .grid5{ grid-template-columns:repeat(5, 1fr); }
    .grid6{ grid-template-columns:repeat(6, 1fr); }
    .grid2 > *,
    .grid3 > *,
    .grid4 > *,
    .grid5 > *,
    .grid6 > *{
      width:auto;
    }
  }

.items-start{ -webkit-box-align:start; -ms-flex-align:start; align-items:flex-start; }

.items-end{ -webkit-box-align:end; -ms-flex-align:end; align-items:flex-end; }

.items-center{ -webkit-box-align:center; -ms-flex-align:center; align-items:center; }

.items-baseline{ -webkit-box-align:baseline; -ms-flex-align:baseline; align-items:baseline; }

.items-stretch{ -webkit-box-align:stretch; -ms-flex-align:stretch; align-items:stretch; }

.self-start{ -ms-flex-item-align:start; align-self:flex-start; }

.self-end{ -ms-flex-item-align:end; align-self:flex-end; }

.self-center{ -ms-flex-item-align:center; align-self:center; }

.self-baseline{ -ms-flex-item-align:baseline; align-self:baseline; }

.self-stretch{ -ms-flex-item-align:stretch; align-self:stretch; }

.justify-start{ -webkit-box-pack:start; -ms-flex-pack:start; justify-content:flex-start; }

.justify-end{ -webkit-box-pack:end; -ms-flex-pack:end; justify-content:flex-end; }

.justify-center{ -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; }

.justify-between{ -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between; }

.justify-around{ -ms-flex-pack:distribute; justify-content:space-around; }

.span1{ -webkit-box-flex:1; -ms-flex:1; flex:1; min-width:0; min-height:0; }

.span2{ -webkit-box-flex:2; -ms-flex:2; flex:2; min-width:0; min-height:0; }

.span3{ -webkit-box-flex:3; -ms-flex:3; flex:3; min-width:0; min-height:0; }

.span4{ -webkit-box-flex:4; -ms-flex:4; flex:4; min-width:0; min-height:0; }

.span5{ -webkit-box-flex:5; -ms-flex:5; flex:5; min-width:0; min-height:0; }

.span6{ -webkit-box-flex:6; -ms-flex:6; flex:6; min-width:0; min-height:0; }

.span7{ -webkit-box-flex:7; -ms-flex:7; flex:7; min-width:0; min-height:0; }

.span8{ -webkit-box-flex:8; -ms-flex:8; flex:8; min-width:0; min-height:0; }

.span-auto{ -ms-flex-preferred-size:auto; flex-basis:auto; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
  .col > *{
    -ms-flex-preferred-size:auto;
        flex-basis:auto;
  }
}

.order0{ -webkit-box-ordinal-group:1; -ms-flex-order:0; order:0; }

.order1{ -webkit-box-ordinal-group:2; -ms-flex-order:1; order:1; }

.order2{ -webkit-box-ordinal-group:3; -ms-flex-order:2; order:2; }

.order3{ -webkit-box-ordinal-group:4; -ms-flex-order:3; order:3; }

.order4{ -webkit-box-ordinal-group:5; -ms-flex-order:4; order:4; }

.order5{ -webkit-box-ordinal-group:6; -ms-flex-order:5; order:5; }

.order6{ -webkit-box-ordinal-group:7; -ms-flex-order:6; order:6; }

.order7{ -webkit-box-ordinal-group:8; -ms-flex-order:7; order:7; }

.order8{ -webkit-box-ordinal-group:9; -ms-flex-order:8; order:8; }

.order9{ -webkit-box-ordinal-group:10; -ms-flex-order:9; order:9; }

@media (min-width: 32rem){
    .sd-row{ display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-orient:horizontal; -webkit-box-direction:normal; -ms-flex-direction:row; flex-direction:row; }
    .sd-col{ display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column; }

    .sd-grid{
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -ms-flex-wrap:wrap;
          flex-wrap:wrap;
    }
      .sd-grid2 > *{ width:50%; }
      .sd-grid3 > *{ width:33.33333%; }
      .sd-grid4 > *{ width:25%; }
      .sd-grid5 > *{ width:20%; }
      .sd-grid6 > *{ width:16.66667%; }
      @supports (display: grid){

    .sd-grid{
        display:grid
    }
        .sd-grid2{ grid-template-columns:repeat(2, 1fr); }
        .sd-grid3{ grid-template-columns:repeat(3, 1fr); }
        .sd-grid4{ grid-template-columns:repeat(4, 1fr); }
        .sd-grid5{ grid-template-columns:repeat(5, 1fr); }
        .sd-grid6{ grid-template-columns:repeat(6, 1fr); }
        .sd-grid2 > *,
        .sd-grid3 > *,
        .sd-grid4 > *,
        .sd-grid5 > *,
        .sd-grid6 > *{
          width:auto;
        }
      }
}

@media (min-width: 48rem){
    .md-row{ display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-orient:horizontal; -webkit-box-direction:normal; -ms-flex-direction:row; flex-direction:row; }
    .md-col{ display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column; }

    .md-grid{
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -ms-flex-wrap:wrap;
          flex-wrap:wrap;
    }
      .md-grid2 > *{ width:50%; }
      .md-grid3 > *{ width:33.33333%; }
      .md-grid4 > *{ width:25%; }
      .md-grid5 > *{ width:20%; }
      .md-grid6 > *{ width:16.66667%; }
      @supports (display: grid){

    .md-grid{
        display:grid
    }
        .md-grid2{ grid-template-columns:repeat(2, 1fr); }
        .md-grid3{ grid-template-columns:repeat(3, 1fr); }
        .md-grid4{ grid-template-columns:repeat(4, 1fr); }
        .md-grid5{ grid-template-columns:repeat(5, 1fr); }
        .md-grid6{ grid-template-columns:repeat(6, 1fr); }
        .md-grid2 > *,
        .md-grid3 > *,
        .md-grid4 > *,
        .md-grid5 > *,
        .md-grid6 > *{
          width:auto;
        }
      }
}

@media (min-width: 64rem){
    .ld-row{ display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-orient:horizontal; -webkit-box-direction:normal; -ms-flex-direction:row; flex-direction:row; }
    .ld-col{ display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column; }

    .ld-grid{
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -ms-flex-wrap:wrap;
          flex-wrap:wrap;
    }
      .ld-grid2 > *{ width:50%; }
      .ld-grid3 > *{ width:33.33333%; }
      .ld-grid4 > *{ width:25%; }
      .ld-grid5 > *{ width:20%; }
      .ld-grid6 > *{ width:16.66667%; }
      @supports (display: grid){

    .ld-grid{
        display:grid
    }
        .ld-grid2{ grid-template-columns:repeat(2, 1fr); }
        .ld-grid3{ grid-template-columns:repeat(3, 1fr); }
        .ld-grid4{ grid-template-columns:repeat(4, 1fr); }
        .ld-grid5{ grid-template-columns:repeat(5, 1fr); }
        .ld-grid6{ grid-template-columns:repeat(6, 1fr); }
        .ld-grid2 > *,
        .ld-grid3 > *,
        .ld-grid4 > *,
        .ld-grid5 > *,
        .ld-grid6 > *{
          width:auto;
        }
      }
}

.p0{ padding:0;    }

.p0125{ padding:2px; padding:.125rem; }

.p025{ padding:4px; padding:.25rem; }

.p05{ padding:8px; padding:.5rem; }

.p075{ padding:12px; padding:.75rem; }

.p1{ padding:16px; padding:1rem; }

.p2{ padding:32px; padding:2rem; }

.p3{ padding:48px; padding:3rem; }

.p4{ padding:64px; padding:4rem; }

.pt05{ padding-top:8px; padding-top:.5rem; }

.pt1{ padding-top:16px; padding-top:1rem; }

.pt2{ padding-top:32px; padding-top:2rem; }

.pt3{ padding-top:48px; padding-top:3rem; }

.pt4{ padding-top:64px; padding-top:4rem; }

.pb05{ padding-bottom:8px; padding-bottom:.5rem; }

.pb1{ padding-bottom:16px; padding-bottom:1rem; }

.pb2{ padding-bottom:32px; padding-bottom:2rem; }

.pb3{ padding-bottom:48px; padding-bottom:3rem; }

.pb4{ padding-bottom:64px; padding-bottom:4rem; }

.px0{ padding-left:0;    padding-right:0;    }

.px025{ padding-left:4px; padding-left:.25rem; padding-right:4px; padding-right:.25rem; }

.px05{ padding-left:8px; padding-left:.5rem; padding-right:8px; padding-right:.5rem; }

.px075{ padding-left:12px; padding-left:.75rem; padding-right:12px; padding-right:.75rem; }

.px1{ padding-left:16px; padding-left:1rem; padding-right:16px; padding-right:1rem; }

.px2{ padding-left:32px; padding-left:2rem; padding-right:32px; padding-right:2rem; }

.px3{ padding-left:48px; padding-left:3rem; padding-right:48px; padding-right:3rem; }

.px4{ padding-left:64px; padding-left:4rem; padding-right:64px; padding-right:4rem; }

.py0{ padding-top:0;    padding-bottom:0; }

.py025{ padding-top:4px; padding-top:.25rem; padding-bottom:4px; padding-bottom:.25rem; }

.py05{ padding-top:8px; padding-top:.5rem; padding-bottom:8px; padding-bottom:.5rem; }

.py075{ padding-top:12px; padding-top:.75rem; padding-bottom:12px; padding-bottom:.75rem; }

.py1{ padding-top:16px; padding-top:1rem; padding-bottom:16px; padding-bottom:1rem; }

.py2{ padding-top:32px; padding-top:2rem; padding-bottom:32px; padding-bottom:2rem; }

.py3{ padding-top:48px; padding-top:3rem; padding-bottom:48px; padding-bottom:3rem; }

.py4{ padding-top:64px; padding-top:4rem; padding-bottom:64px; padding-bottom:4rem; }

.m0{ margin:0;    }

.m05{ margin:8px; margin:.5rem; }

.m1{ margin:16px; margin:1rem; }

.m2{ margin:32px; margin:2rem; }

.m3{ margin:48px; margin:3rem; }

.m4{ margin:64px; margin:4rem; }

.mx0{ margin-left:0;    margin-right:0;    }

.mx1{ margin-left:16px; margin-left:1rem; margin-right:16px; margin-right:1rem; }

.mx2{ margin-left:32px; margin-left:2rem; margin-right:32px; margin-right:2rem; }

.mx{ margin-left:auto; margin-right:auto; }

.my0{ margin-top:0;    margin-bottom:0;    }

.my1{ margin-top:16px; margin-top:1rem; margin-bottom:16px; margin-bottom:1rem; }

.my2{ margin-top:32px; margin-top:2rem; margin-bottom:32px; margin-bottom:2rem; }

.my{ margin-top:auto; margin-bottom:auto; }

.mt025{ margin-top:4px; margin-top:.25rem; }

.mt05{ margin-top:8px; margin-top:.5rem; }

.mt1{ margin-top:16px; margin-top:1rem; }

.mt2{ margin-top:32px; margin-top:2rem; }

.mr025{ margin-right:4px; margin-right:.25rem; }

.mr05{ margin-right:8px; margin-right:.5rem; }

.mr1{ margin-right:16px; margin-right:1rem; }

.mr2{ margin-right:32px; margin-right:2rem; }

.mb025{ margin-bottom:4px; margin-bottom:.25rem; }

.mb05{ margin-bottom:8px; margin-bottom:.5rem; }

.mb1{ margin-bottom:16px; margin-bottom:1rem; }

.mb2{ margin-bottom:32px; margin-bottom:2rem; }

.ml025{ margin-left:4px; margin-left:.25rem; }

.ml05{ margin-left:8px; margin-left:.5rem; }

.ml1{ margin-left:16px; margin-left:1rem; }

.ml2{ margin-left:32px; margin-left:2rem; }

@media (min-width: 32rem){
    .sd-p025{ padding:.25rem; }
    .sd-p05{ padding:.5rem; }
    .sd-p075{ padding:.75rem; }
    .sd-p1{ padding:1rem; }
    .sd-p2{ padding:2rem; }
    .sd-p3{ padding:3rem; }
    .sd-p4{ padding:4rem; }

    .sd-px1{ padding-left:1rem; padding-right:1rem; }
    .sd-px2{ padding-left:2rem; padding-right:2rem; }

    .sd-py1{ padding-top:1rem; padding-bottom:1rem; }
    .sd-py2{ padding-top:2rem; padding-bottom:2rem; }
}

@media (min-width: 48rem){
    .md-p025{ padding:.25rem; }
    .md-p05{ padding:.5rem; }
    .md-p075{ padding:.75rem; }
    .md-p1{ padding:1rem; }
    .md-p2{ padding:2rem; }
    .md-p3{ padding:3rem; }
    .md-p4{ padding:4rem; }

    .md-px1{ padding-left:1rem; padding-right:1rem; }
    .md-px2{ padding-left:2rem; padding-right:2rem; }

    .md-py1{ padding-top:1rem; padding-bottom:1rem; }
    .md-py2{ padding-top:2rem; padding-bottom:2rem; }
}

@media (min-width: 64rem){
    .ld-p025{ padding:.25rem; }
    .ld-p05{ padding:.5rem; }
    .ld-p075{ padding:.75rem; }
    .ld-p1{ padding:1rem; }
    .ld-p2{ padding:2rem; }
    .ld-p3{ padding:3rem; }
    .ld-p4{ padding:4rem; }

    .ld-px1{ padding-left:1rem; padding-right:1rem; }
    .ld-px2{ padding-left:2rem; padding-right:2rem; }

    .ld-py1{ padding-top:1rem; padding-bottom:1rem; }
    .ld-py2{ padding-top:2rem; padding-bottom:2rem; }
}

.ba{ border:1px solid currentColor; }

.bl{ border-left:1px solid currentColor; }

.br{ border-right:1px solid currentColor; }

.bt{ border-top:1px solid currentColor; }

.bb{ border-bottom:1px solid currentColor; }

.br1{ border-radius:.125rem; }

.br2{ border-radius:.25rem; }

.br3{ border-radius:.5rem; }

.br100{ border-radius:100%; }

.b-red{ border-color:red; border-color:#f44336; }

.b-pink{ border-color:pink; border-color:#e91e63; }

.b-purple{ border-color:purple; border-color:#9c27b0; }

.b-indigo{ border-color:indigo; border-color:#3f51b5; }

.b-blue{ border-color:blue; border-color:#2196f3; }

.b-cyan{ border-color:cyan; border-color:#00bcd4; }

.b-teal{ border-color:teal; border-color:#009688; }

.b-green{ border-color:green; border-color:#4caf50; }

.b-lime{ border-color:lime; border-color:#cddc39; }

.b-yellow{ border-color:yellow; border-color:#ffeb3b; }

.b-orange{ border-color:orange; border-color:#ff9800; }

.b-brown{ border-color:brown; border-color:#795548; }

.div{
  color:inherit;
}

.div::before{
    content:'';
    display:block;
    width:100%;
    height:1px;
    background-color:currentColor;
  }

.color-inherit{ color:inherit; }

.color-black{ color:black; color:#040404; }

.color-black-90{ color:rgba(0, 0, 0, 0.9); color:rgba(4, 4, 4, 0.9); }

.color-black-80{ color:rgba(0, 0, 0, 0.8); color:rgba(4, 4, 4, 0.8); }

.color-black-70{ color:rgba(0, 0, 0, 0.7); color:rgba(4, 4, 4, 0.7); }

.color-black-60{ color:rgba(0, 0, 0, 0.6); color:rgba(4, 4, 4, 0.6); }

.color-black-50{ color:rgba(0, 0, 0, 0.5); color:rgba(4, 4, 4, 0.5); }

.color-black-40{ color:rgba(0, 0, 0, 0.4); color:rgba(4, 4, 4, 0.4); }

.color-black-30{ color:rgba(0, 0, 0, 0.3); color:rgba(4, 4, 4, 0.3); }

.color-black-20{ color:rgba(0, 0, 0, 0.2); color:rgba(4, 4, 4, 0.2); }

.color-black-10{ color:rgba(0, 0, 0, 0.1); color:rgba(4, 4, 4, 0.1); }

.color-black-05{ color:rgba(0, 0, 0, 0.05); color:rgba(4, 4, 4, 0.05); }

.color-black-025{ color:rgba(0, 0, 0, 0.02); color:rgba(4, 4, 4, 0.02); }

.color-black-0125{ color:rgba(0, 0, 0, 0.01); color:rgba(4, 4, 4, 0.01); }

.color-white{ color:white; color:#ffffff; }

.color-white-90{ color:rgba(255, 255, 255, 0.9); color:rgba(255, 255, 255, 0.9); }

.color-white-80{ color:rgba(255, 255, 255, 0.8); color:rgba(255, 255, 255, 0.8); }

.color-white-70{ color:rgba(255, 255, 255, 0.7); color:rgba(255, 255, 255, 0.7); }

.color-white-60{ color:rgba(255, 255, 255, 0.6); color:rgba(255, 255, 255, 0.6); }

.color-white-50{ color:rgba(255, 255, 255, 0.5); color:rgba(255, 255, 255, 0.5); }

.color-white-40{ color:rgba(255, 255, 255, 0.4); color:rgba(255, 255, 255, 0.4); }

.color-white-30{ color:rgba(255, 255, 255, 0.3); color:rgba(255, 255, 255, 0.3); }

.color-white-20{ color:rgba(255, 255, 255, 0.2); color:rgba(255, 255, 255, 0.2); }

.color-white-10{ color:rgba(255, 255, 255, 0.1); color:rgba(255, 255, 255, 0.1); }

.color-white-05{ color:rgba(255, 255, 255, 0.05); color:rgba(255, 255, 255, 0.05); }

.color-white-025{ color:rgba(255, 255, 255, 0.02); color:rgba(255, 255, 255, 0.02); }

.color-white-0125{ color:rgba(255, 255, 255, 0.01); color:rgba(255, 255, 255, 0.01); }

.color-red{ color:red; color:#f44336; }

.color-pink{ color:pink; color:#e91e63; }

.color-purple{ color:purple; color:#9c27b0; }

.color-indigo{ color:indigo; color:#3f51b5; }

.color-blue{ color:blue; color:#2196f3; }

.color-cyan{ color:cyan; color:#00bcd4; }

.color-teal{ color:teal; color:#009688; }

.color-green{ color:green; color:#4caf50; }

.color-lime{ color:lime; color:#cddc39; }

.color-yellow{ color:yellow; color:#ffeb3b; }

.color-orange{ color:orange; color:#ff9800; }

.color-brown{ color:brown; color:#795548; }

.bg-inherit{ background-color:inherit; }

.bg-black{ background-color:black; background-color:#040404; }

.bg-black-90{ background-color:rgba(0, 0, 0, 0.9); background-color:rgba(4, 4, 4, 0.9); }

.bg-black-80{ background-color:rgba(0, 0, 0, 0.8); background-color:rgba(4, 4, 4, 0.8); }

.bg-black-70{ background-color:rgba(0, 0, 0, 0.7); background-color:rgba(4, 4, 4, 0.7); }

.bg-black-60{ background-color:rgba(0, 0, 0, 0.6); background-color:rgba(4, 4, 4, 0.6); }

.bg-black-50{ background-color:rgba(0, 0, 0, 0.5); background-color:rgba(4, 4, 4, 0.5); }

.bg-black-40{ background-color:rgba(0, 0, 0, 0.4); background-color:rgba(4, 4, 4, 0.4); }

.bg-black-30{ background-color:rgba(0, 0, 0, 0.3); background-color:rgba(4, 4, 4, 0.3); }

.bg-black-20{ background-color:rgba(0, 0, 0, 0.2); background-color:rgba(4, 4, 4, 0.2); }

.bg-black-10{ background-color:rgba(0, 0, 0, 0.1); background-color:rgba(4, 4, 4, 0.1); }

.bg-black-05{ background-color:rgba(0, 0, 0, 0.05); background-color:rgba(4, 4, 4, 0.05); }

.bg-black-025{ background-color:rgba(0, 0, 0, 0.02); background-color:rgba(4, 4, 4, 0.02); }

.bg-black-0125{ background-color:rgba(0, 0, 0, 0.01); background-color:rgba(4, 4, 4, 0.01); }

.bg-white{ background-color:white; background-color:#ffffff; }

.bg-white-90{ background-color:rgba(255, 255, 255, 0.9); background-color:rgba(255, 255, 255, 0.9); }

.bg-white-80{ background-color:rgba(255, 255, 255, 0.8); background-color:rgba(255, 255, 255, 0.8); }

.bg-white-70{ background-color:rgba(255, 255, 255, 0.7); background-color:rgba(255, 255, 255, 0.7); }

.bg-white-60{ background-color:rgba(255, 255, 255, 0.6); background-color:rgba(255, 255, 255, 0.6); }

.bg-white-50{ background-color:rgba(255, 255, 255, 0.5); background-color:rgba(255, 255, 255, 0.5); }

.bg-white-40{ background-color:rgba(255, 255, 255, 0.4); background-color:rgba(255, 255, 255, 0.4); }

.bg-white-30{ background-color:rgba(255, 255, 255, 0.3); background-color:rgba(255, 255, 255, 0.3); }

.bg-white-20{ background-color:rgba(255, 255, 255, 0.2); background-color:rgba(255, 255, 255, 0.2); }

.bg-white-10{ background-color:rgba(255, 255, 255, 0.1); background-color:rgba(255, 255, 255, 0.1); }

.bg-white-05{ background-color:rgba(255, 255, 255, 0.05); background-color:rgba(255, 255, 255, 0.05); }

.bg-white-025{ background-color:rgba(255, 255, 255, 0.02); background-color:rgba(255, 255, 255, 0.02); }

.bg-white-0125{ background-color:rgba(255, 255, 255, 0.01); background-color:rgba(255, 255, 255, 0.01); }

.bg-red{ background-color:red; background-color:#f44336; }

.bg-pink{ background-color:pink; background-color:#e91e63; }

.bg-purple{ background-color:purple; background-color:#9c27b0; }

.bg-indigo{ background-color:indigo; background-color:#3f51b5; }

.bg-blue{ background-color:blue; background-color:#2196f3; }

.bg-cyan{ background-color:cyan; background-color:#00bcd4; }

.bg-teal{ background-color:teal; background-color:#009688; }

.bg-green{ background-color:green; background-color:#4caf50; }

.bg-lime{ background-color:lime; background-color:#cddc39; }

.bg-yellow{ background-color:yellow; background-color:#ffeb3b; }

.bg-orange{ background-color:orange; background-color:#ff9800; }

.bg-brown{ background-color:brown; background-color:#795548; }

.bg-cover{
    background-size:cover;
    background-position:50% 50%;
    background-repeat:no-repeat;
  }

.bg-contain{
    background-size:contain;
    background-position:50% 50%;
    background-repeat:no-repeat;
  }

.-d *{ -webkit-box-shadow:0 0 0 1px lime; box-shadow:0 0 0 1px lime; -webkit-box-shadow:0 0 0 1px #cddc39; box-shadow:0 0 0 1px #cddc39; }

.-d .-d{ outline:1px dashed purple !important; outline:1px dashed #9c27b0 !important; }

.-view{
  position:fixed;
  left:0;
  top:0;
  background-color:#ffeb3b;
  color:#000;
  line-height:1;
  font-size:12px;
  padding:4px;
  z-index:9999;
}

.-view::before{
    content:'-'
  }

@media (min-width: 32rem){
  .-view::before{ content:'SD'; }
}

@media (min-width: 48rem){
  .-view::before{ content:'MD'; }
}

@media (min-width: 64rem){
  .-view::before{ content:'LD'; }
}
