.-d,
.-d *.-d { outline: 1px dashed hsl(var(--purple-hue) var(--purple-sat) var(--purple-lum)); }
.-d * { outline: 1px dashed hsl(var(--cyan-hue) var(--cyan-sat) var(--cyan-lum)); }

.-view {
  position: fixed;
  left: 0;
  top: 0;
  background-color: hsl(var(--yellow-hue) var(--yellow-sat) var(--yellow-lum));
  color: #000;
  line-height: 1;
  font-size: 12px;
  padding: 4px;
  z-index: 9999;
  &::before {
    content: "-";
  }
}

@media (--view-xs) { .-view::before { content: "XS"; } }
@media (--view-sd) { .-view::before { content: "SD"; } }
@media (--view-md) { .-view::before { content: "MD"; } }
@media (--view-ld) { .-view::before { content: "LD"; } }
@media (--view-xl) { .-view::before { content: "XL"; } }
