:root {

  --default-font-size: 16px;
  --default-font-family: var(--sansserif-font-family);
  --default-bg-color: var(--white, hsl(var(--white-hue) var(--white-sat) var(--white-lum)));
  --default-color: var(--black, hsl(var(--black-hue) var(--black-sat) var(--black-lum)));
  --default-border-width: 1px;
  --default-border-color: currentColor;

  --font-size: var(--default-font-size);
  --font-family: var(--default-font-family);
  --bg-color: var(--default-bg-color);
  --color: var(--default-color);
  --border-width: var(--default-border-width);
  --border-color: var(--default-border-color);
  --text-decoration-thickness: auto;
  --text-underline-offset: auto;

  --serif-font-family: Georgia, 'Times New Roman', serif;
  --sansserif-font-family: system-ui;
  --code-font-family: Courier, monospace;

  --h1: 2.5rem;     /* 40 */
  --h2: 2.0rem;     /* 32 */
  --h3: 1.75rem;    /* 28 */
  --h4: 1.50rem;    /* 24 */
  --h5: 1.25rem;    /* 20 */
  --h6: 1.125rem;   /* 18 */

  --d1: 3.0rem;     /* 48 */
  --d2: 3.5rem;     /* 56 */
  --d3: 4.0rem;     /* 64 */
  --d4: 5.0rem;     /* 80 */
  --d5: 6.0rem;     /* 96 */

  --f0: 1rem;       /* 16 */
  --f1: 0.9375rem;  /* 15 */
  --f2: 0.875rem;   /* 14 */
  --f3: 0.8125rem;  /* 13 */
  --f4: 0.75rem;    /* 12 */

  --lh0: 1.000;     /* 16 */
  --lh1: 1.125;     /* 18 */
  --lh2: 1.250;     /* 20 */
  --lh3: 1.375;     /* 22 */
  --lh4: 1.500;     /* 24 */
  --lh5: 1.750;     /* 28 */
  --lh6: 2.000;     /* 32 */

  --rlh0: 1.000rem; /* 16 */
  --rlh1: 1.125rem; /* 18 */
  --rlh2: 1.250rem; /* 20 */
  --rlh3: 1.375rem; /* 22 */
  --rlh4: 1.500rem; /* 24 */
  --rlh5: 1.750rem; /* 28 */
  --rlh6: 2.000rem; /* 32 */

  --lsh: -0.025em;
  --lsd: -0.050em;

  --border-radius1: 0.125rem;  /*  2 */
  --border-radius2: 0.25rem;   /*  4 */
  --border-radius3: 0.5rem;    /*  8 */
  --border-radius4: 0.75rem;   /* 12 */
  --border-radius5: 1rem;      /* 16 */

  --black-hue: 0;
  --black-sat: 0%;
  --black-lum: 0%;

  --white-hue: 0;
  --white-sat: 0%;
  --white-lum: 100%;

  --gray-hue: 0;
  --gray-sat: 0%;
  --gray-lum: 50%;

  /* credit to http://clrs.cc/ */
  --aqua:    #7fdbff;
  --blue:    #0074d9;
  --navy:    #001f3f;
  --teal:    #39cccc;
  --green:   #2ecc40;
  --olive:   #3d9970;
  --lime:    #01ff70;
  --yellow:  #ffdc00;
  --orange:  #ff851b;
  --red:     #ff4136;
  --fuchsia: #f012be;
  --purple:  #b10dc9;
  --maroon:  #85144b;
  /* /credit */

}

@custom-media --view-xs (max-width: 24rem);
@custom-media --view-sd (min-width: 32rem);
@custom-media --view-md (min-width: 48rem);
@custom-media --view-ld (min-width: 64rem);
@custom-media --view-xl (min-width: 80rem);
