.border        { border:        var(--border-width) var(--border-style) var(--border-color); }
.border-left   { border-left:   var(--border-width) var(--border-style) var(--border-color); }
.border-right  { border-right:  var(--border-width) var(--border-style) var(--border-color); }
.border-top    { border-top:    var(--border-width) var(--border-style) var(--border-color); }
.border-bottom { border-bottom: var(--border-width) var(--border-style) var(--border-color); }

.border-width1 { --border-width: var(--border-width1); }
.border-width2 { --border-width: var(--border-width2); }
.border-width3 { --border-width: var(--border-width3); }

.border-solid  { --border-style: solid; }
.border-dotted { --border-style: dotted; }
.border-dashed { --border-style: dashed; }
.border-double { --border-style: double; }

.border-black {
  --border-hue: var(--black-hue);
  --border-sat: var(--black-sat);
  --border-lum: var(--black-lum);
  --border-alpha: 100%;
  --border-color: var(--black, hsla(var(--border-hue) var(--border-sat) var(--border-lum) / var(--border-alpha)));
  border-color: var(--border-color);
}

.border-white {
  --border-hue: var(--white-hue);
  --border-sat: var(--white-sat);
  --border-lum: var(--white-lum);
  --border-alpha: 100%;
  --border-color: var(--white, hsla(var(--border-hue) var(--border-sat) var(--border-lum) / var(--border-alpha)));
  border-color: var(--border-color);
}

.border-gray {
  --border-hue: var(--gray-hue);
  --border-sat: var(--gray-sat);
  --border-lum: var(--gray-lum);
  --border-alpha: 100%;
  --border-color: var(--gray, hsla(var(--border-hue) var(--border-sat) var(--border-lum) / var(--border-alpha)));
  border-color: var(--border-color);
}

.border-red {
  --border-hue: var(--red-hue);
  --border-sat: var(--red-sat);
  --border-lum: var(--red-lum);
  --border-alpha: 100%;
  --border-color: var(--red, hsla(var(--border-hue) var(--border-sat) var(--border-lum) / var(--border-alpha)));
  border-color: var(--border-color);
}

.border-orange {
  --border-hue: var(--orange-hue);
  --border-sat: var(--orange-sat);
  --border-lum: var(--orange-lum);
  --border-alpha: 100%;
  --border-color: var(--orange, hsla(var(--border-hue) var(--border-sat) var(--border-lum) / var(--border-alpha)));
  border-color: var(--border-color);
}

.border-yellow {
  --border-hue: var(--yellow-hue);
  --border-sat: var(--yellow-sat);
  --border-lum: var(--yellow-lum);
  --border-alpha: 100%;
  --border-color: var(--yellow, hsla(var(--border-hue) var(--border-sat) var(--border-lum) / var(--border-alpha)));
  border-color: var(--border-color);
}

.border-green {
  --border-hue: var(--green-hue);
  --border-sat: var(--green-sat);
  --border-lum: var(--green-lum);
  --border-alpha: 100%;
  --border-color: var(--green, hsla(var(--border-hue) var(--border-sat) var(--border-lum) / var(--border-alpha)));
  border-color: var(--border-color);
}

.border-teal {
  --border-hue: var(--teal-hue);
  --border-sat: var(--teal-sat);
  --border-lum: var(--teal-lum);
  --border-alpha: 100%;
  --border-color: var(--teal, hsla(var(--border-hue) var(--border-sat) var(--border-lum) / var(--border-alpha)));
  border-color: var(--border-color);
}

.border-cyan {
  --border-hue: var(--cyan-hue);
  --border-sat: var(--cyan-sat);
  --border-lum: var(--cyan-lum);
  --border-alpha: 100%;
  --border-color: var(--cyan, hsla(var(--border-hue) var(--border-sat) var(--border-lum) / var(--border-alpha)));
  border-color: var(--border-color);
}

.border-blue {
  --border-hue: var(--blue-hue);
  --border-sat: var(--blue-sat);
  --border-lum: var(--blue-lum);
  --border-alpha: 100%;
  --border-color: var(--blue, hsla(var(--border-hue) var(--border-sat) var(--border-lum) / var(--border-alpha)));
  border-color: var(--border-color);
}

.border-indigo {
  --border-hue: var(--indigo-hue);
  --border-sat: var(--indigo-sat);
  --border-lum: var(--indigo-lum);
  --border-alpha: 100%;
  --border-color: var(--indigo, hsla(var(--border-hue) var(--border-sat) var(--border-lum) / var(--border-alpha)));
  border-color: var(--border-color);
}

.border-purple {
  --border-hue: var(--purple-hue);
  --border-sat: var(--purple-sat);
  --border-lum: var(--purple-lum);
  --border-alpha: 100%;
  --border-color: var(--purple, hsla(var(--border-hue) var(--border-sat) var(--border-lum) / var(--border-alpha)));
  border-color: var(--border-color);
}

.border-pink {
  --border-hue: var(--pink-hue);
  --border-sat: var(--pink-sat);
  --border-lum: var(--pink-lum);
  --border-alpha: 100%;
  --border-color: var(--pink, hsla(var(--border-hue) var(--border-sat) var(--border-lum) / var(--border-alpha)));
  border-color: var(--border-color);
}

.border-ruby {
  --border-hue: var(--ruby-hue);
  --border-sat: var(--ruby-sat);
  --border-lum: var(--ruby-lum);
  --border-alpha: 100%;
  --border-color: var(--ruby, hsla(var(--border-hue) var(--border-sat) var(--border-lum) / var(--border-alpha)));
  border-color: var(--border-color);
}

.border-sat0   { --border-sat:   0%; }
.border-sat5   { --border-sat:   5%; }
.border-sat10  { --border-sat:  10%; }
.border-sat20  { --border-sat:  20%; }
.border-sat30  { --border-sat:  30%; }
.border-sat40  { --border-sat:  40%; }
.border-sat50  { --border-sat:  50%; }
.border-sat60  { --border-sat:  60%; }
.border-sat70  { --border-sat:  70%; }
.border-sat80  { --border-sat:  80%; }
.border-sat90  { --border-sat:  90%; }
.border-sat95  { --border-sat:  95%; }
.border-sat100 { --border-sat: 100%; }

.border-lum0   { --border-lum:   0%; }
.border-lum5   { --border-lum:   5%; }
.border-lum10  { --border-lum:  10%; }
.border-lum20  { --border-lum:  20%; }
.border-lum30  { --border-lum:  30%; }
.border-lum40  { --border-lum:  40%; }
.border-lum50  { --border-lum:  50%; }
.border-lum60  { --border-lum:  60%; }
.border-lum70  { --border-lum:  70%; }
.border-lum80  { --border-lum:  80%; }
.border-lum90  { --border-lum:  90%; }
.border-lum95  { --border-lum:  95%; }
.border-lum100 { --border-lum: 100%; }

.border-alpha0   { --border-alpha:   0%; }
.border-alpha5   { --border-alpha:   5%; }
.border-alpha10  { --border-alpha:  10%; }
.border-alpha20  { --border-alpha:  20%; }
.border-alpha30  { --border-alpha:  30%; }
.border-alpha40  { --border-alpha:  40%; }
.border-alpha50  { --border-alpha:  50%; }
.border-alpha60  { --border-alpha:  60%; }
.border-alpha70  { --border-alpha:  70%; }
.border-alpha80  { --border-alpha:  80%; }
.border-alpha90  { --border-alpha:  90%; }
.border-alpha95  { --border-alpha:  95%; }
.border-alpha100 { --border-alpha: 100%; }

.border-radius1   { --border-radius: var(--border-radius1); }
.border-radius2   { --border-radius: var(--border-radius2); }
.border-radius3   { --border-radius: var(--border-radius3); }
.border-radius4   { --border-radius: var(--border-radius4); }
.border-radius5   { --border-radius: var(--border-radius5); }
.border-radius100 { --border-radius:      100%;  }
.border-radius999 { --border-radius:      999px; }

.border-radius1,
.border-radius2,
.border-radius3,
.border-radius4,
.border-radius5,
.border-radius100,
.border-radius999 {
  border-radius: var(--border-radius);
}
