.show { display: block; }
.hide { display: none; }

.min8  { min-width:  8rem; }
.min10 { min-width: 10rem; }
.min12 { min-width: 12rem; }
.min14 { min-width: 14rem; }
.min16 { min-width: 16rem; }
.min18 { min-width: 18rem; }
.min20 { min-width: 20rem; }
.min24 { min-width: 24rem; }

.max   { max-width: none; }
.max4  { max-width: 4rem; }
.max6  { max-width: 6rem; }
.max8  { max-width: 8rem; }
.max10 { max-width: 10rem; }
.max12 { max-width: 12rem; }
.max15 { max-width: 15rem; }
.max16 { max-width: 16rem; }
.max20 { max-width: 20rem; }
.max22 { max-width: 22rem; }
.max24 { max-width: 24rem; }
.max26 { max-width: 26rem; }
.max28 { max-width: 28rem; }
.max30 { max-width: 30rem; }
.max32 { max-width: 32rem; }
.max34 { max-width: 34rem; }
.max35 { max-width: 35rem; }
.max36 { max-width: 36rem; }
.max38 { max-width: 38rem; }
.max40 { max-width: 40rem; }
.max42 { max-width: 42rem; }
.max44 { max-width: 44rem; }
.max45 { max-width: 45rem; }
.max47 { max-width: 47rem; }
.max48 { max-width: 48rem; }
.max49 { max-width: 49rem; }
.max50 { max-width: 50rem; }
.max51 { max-width: 51rem; }
.max52 { max-width: 52rem; }
.max54 { max-width: 54rem; }
.max55 { max-width: 55rem; }
.max56 { max-width: 56rem; }
.max60 { max-width: 60rem; }
.max64 { max-width: 64rem; }
.max65 { max-width: 65rem; }
.max66 { max-width: 66rem; }
.max68 { max-width: 68rem; }
.max70 { max-width: 70rem; }
.max72 { max-width: 72rem; }
.max74 { max-width: 74rem; }
.max75 { max-width: 75rem; }
.max77 { max-width: 77rem; }
.max78 { max-width: 78rem; }
.max80 { max-width: 80rem; }
.max90 { max-width: 90rem; }

.w100 { width: 100%; }
.w50  { width: 50%; }
.w0   { width: 0%; }
.wa   { width: auto; }

.h100 { height: 100%; }
.h50  { height: 50%; }
.h0   { height: 0%; }
.ha   { height: auto; }

.vw100 { width: 100vw; }
.vh100 { height: 100vh; }

.dvh100 { height: 100dvh; }
.svh100 { height: 100svh; }
.lvh100 { height: 100lvh; }

.minvw { min-width: 100vw; }
.minvh { min-height: 100vh; }

.mindvh { min-height: 100dvh; }
.minsvh { min-height: 100svh; }
.minlvh { min-height: 100lvh; }

.maxw { max-width:  100%; }
.maxh { max-height: 100%; }

.row,
.row-wrap { display: flex; flex-direction: row; }
.col,
.col-wrap { display: flex; flex-direction: column; }

.inline-row { display: inline-flex; flex-direction: row; }

.row-reverse,
.row-reverse-wrap { display: flex; flex-direction: row-reverse; }
.col-reverse,
.col-reverse-wrap { display: flex; flex-direction: column-reverse; }

.row-wrap,
.col-wrap,
.row-reverse-wrap,
.col-reverse-wrap,
.flex-wrap {
  flex-wrap: wrap;
}

.grid  { display: grid; }
.grid2 { display: grid; grid-template-columns: repeat(2, 1fr); }
.grid3 { display: grid; grid-template-columns: repeat(3, 1fr); }
.grid4 { display: grid; grid-template-columns: repeat(4, 1fr); }
.grid5 { display: grid; grid-template-columns: repeat(5, 1fr); }
.grid6 { display: grid; grid-template-columns: repeat(6, 1fr); }
.grid7 { display: grid; grid-template-columns: repeat(7, 1fr); }
.grid8 { display: grid; grid-template-columns: repeat(8, 1fr); }

.gap0    { gap: 0;        }
.gap0125 { gap: 0.125rem; }
.gap025  { gap: 0.25rem;  }
.gap05   { gap: 0.50rem;  }
.gap075  { gap: 0.75rem;  }
.gap1    { gap: 1.00rem;  }
.gap125  { gap: 1.25rem;  }
.gap15   { gap: 1.50rem;  }
.gap175  { gap: 1.75rem;  }
.gap2    { gap: 2.00rem;  }
.gap25   { gap: 2.50rem;  }
.gap3    { gap: 3.00rem;  }
.gap4    { gap: 4.00rem;  }

.gapx0    { column-gap: 0;        }
.gapx0125 { column-gap: 0.125rem; }
.gapx025  { column-gap: 0.25rem;  }
.gapx05   { column-gap: 0.50rem;  }
.gapx075  { column-gap: 0.75rem;  }
.gapx1    { column-gap: 1.00rem;  }
.gapx125  { column-gap: 1.25rem;  }
.gapx15   { column-gap: 1.50rem;  }
.gapx175  { column-gap: 1.75rem;  }
.gapx2    { column-gap: 2.00rem;  }
.gapx25   { column-gap: 2.50rem;  }
.gapx3    { column-gap: 3.00rem;  }
.gapx4    { column-gap: 4.00rem;  }

.gapy0    { row-gap: 0;        }
.gapy0125 { row-gap: 0.125rem; }
.gapy025  { row-gap: 0.25rem;  }
.gapy05   { row-gap: 0.50rem;  }
.gapy075  { row-gap: 0.75rem;  }
.gapy1    { row-gap: 1.00rem;  }
.gapy125  { row-gap: 1.25rem;  }
.gapy15   { row-gap: 1.50rem;  }
.gapy175  { row-gap: 1.75rem;  }
.gapy2    { row-gap: 2.00rem;  }
.gapy25   { row-gap: 2.50rem;  }
.gapy3    { row-gap: 3.00rem;  }
.gapy4    { row-gap: 4.00rem;  }

.items-start    { align-items: flex-start; }
.items-end      { align-items: flex-end; }
.items-center   { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch  { align-items: stretch; }

.self-start    { align-self: flex-start; }
.self-end      { align-self: flex-end; }
.self-center   { align-self: center; }
.self-baseline { align-self: baseline; }
.self-stretch  { align-self: stretch; }

.justify-start   { justify-content: flex-start; }
.justify-end     { justify-content: flex-end; }
.justify-center  { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around  { justify-content: space-around; }
.justify-evenly  { justify-content: space-evenly; }

.span0 { flex: 0; }
.span1 { flex: 1; }
.span2 { flex: 2; }
.span3 { flex: 3; }
.span4 { flex: 4; }
.span5 { flex: 5; }
.span6 { flex: 6; }
.span7 { flex: 7; }
.span8 { flex: 8; }
.span9 { flex: 9; }

.span-auto { flex-basis: auto; }

.order0 { order: 0; }
.order1 { order: 1; }
.order2 { order: 2; }
.order3 { order: 3; }
.order4 { order: 4; }
.order5 { order: 5; }
.order6 { order: 6; }
.order7 { order: 7; }
.order8 { order: 8; }
.order9 { order: 9; }

@media (--view-xs) {

  .xs\:show { display: block; }
  .xs\:hide { display: none; }

}

@media (--view-sd) {

  .sd\:show { display: block; }
  .sd\:hide { display: none; }

  .sd\:max { max-width: none; }

  .sd\:row,
  .sd\:row-wrap { display: flex; flex-direction: row; }
  .sd\:col,
  .sd\:col-wrap { display: flex; flex-direction: column; }

  .sd\:row-reverse,
  .sd\:row-reverse-wrap { display: flex; flex-direction: row-reverse; }
  .sd\:col-reverse,
  .sd\:col-reverse-wrap { display: flex; flex-direction: column-reverse; }

  .sd\:row-wrap,
  .sd\:col-wrap,
  .sd\:row-reverse-wrap,
  .sd\:col-reverse-wrap,
  .sd\:flex-wrap {
    flex-wrap: wrap;
  }

  .sd\:grid  { display: grid; }
  .sd\:grid2 { display: grid; grid-template-columns: repeat(2, 1fr); }
  .sd\:grid3 { display: grid; grid-template-columns: repeat(3, 1fr); }
  .sd\:grid4 { display: grid; grid-template-columns: repeat(4, 1fr); }
  .sd\:grid5 { display: grid; grid-template-columns: repeat(5, 1fr); }
  .sd\:grid6 { display: grid; grid-template-columns: repeat(6, 1fr); }
  .sd\:grid7 { display: grid; grid-template-columns: repeat(7, 1fr); }
  .sd\:grid8 { display: grid; grid-template-columns: repeat(8, 1fr); }

  .sd\:gap0    { gap: 0;        }
  .sd\:gap0125 { gap: 0.125rem; }
  .sd\:gap025  { gap: 0.25rem;  }
  .sd\:gap05   { gap: 0.50rem;  }
  .sd\:gap075  { gap: 0.75rem;  }
  .sd\:gap1    { gap: 1.00rem;  }
  .sd\:gap125  { gap: 1.25rem;  }
  .sd\:gap15   { gap: 1.50rem;  }
  .sd\:gap175  { gap: 1.75rem;  }
  .sd\:gap2    { gap: 2.00rem;  }
  .sd\:gap25   { gap: 2.50rem;  }
  .sd\:gap3    { gap: 3.00rem;  }
  .sd\:gap4    { gap: 4.00rem;  }

  .sd\:gapx0    { column-gap: 0;        }
  .sd\:gapx0125 { column-gap: 0.125rem; }
  .sd\:gapx025  { column-gap: 0.25rem;  }
  .sd\:gapx05   { column-gap: 0.50rem;  }
  .sd\:gapx075  { column-gap: 0.75rem;  }
  .sd\:gapx1    { column-gap: 1.00rem;  }
  .sd\:gapx125  { column-gap: 1.25rem;  }
  .sd\:gapx15   { column-gap: 1.50rem;  }
  .sd\:gapx175  { column-gap: 1.75rem;  }
  .sd\:gapx2    { column-gap: 2.00rem;  }
  .sd\:gapx25   { column-gap: 2.50rem;  }
  .sd\:gapx3    { column-gap: 3.00rem;  }
  .sd\:gapx4    { column-gap: 4.00rem;  }

  .sd\:gapy0    { row-gap: 0;        }
  .sd\:gapy0125 { row-gap: 0.125rem; }
  .sd\:gapy025  { row-gap: 0.25rem;  }
  .sd\:gapy05   { row-gap: 0.50rem;  }
  .sd\:gapy075  { row-gap: 0.75rem;  }
  .sd\:gapy1    { row-gap: 1.00rem;  }
  .sd\:gapy125  { row-gap: 1.25rem;  }
  .sd\:gapy15   { row-gap: 1.50rem;  }
  .sd\:gapy175  { row-gap: 1.75rem;  }
  .sd\:gapy2    { row-gap: 2.00rem;  }
  .sd\:gapy25   { row-gap: 2.50rem;  }
  .sd\:gapy3    { row-gap: 3.00rem;  }
  .sd\:gapy4    { row-gap: 4.00rem;  }

  .sd\:order0 { order: 0; }
  .sd\:order1 { order: 1; }
  .sd\:order9 { order: 9; }

}

@media (--view-md) {

  .md\:show { display: block; }
  .md\:hide { display: none; }

  .md\:max { max-width: none; }

  .md\:row,
  .md\:row-wrap { display: flex; flex-direction: row; }
  .md\:col,
  .md\:col-wrap { display: flex; flex-direction: column; }

  .md\:row-reverse,
  .md\:row-reverse-wrap { display: flex; flex-direction: row-reverse; }
  .md\:col-reverse,
  .md\:col-reverse-wrap { display: flex; flex-direction: column-reverse; }

  .md\:row-wrap,
  .md\:col-wrap,
  .md\:row-reverse-wrap,
  .md\:col-reverse-wrap,
  .md\:flex-wrap {
    flex-wrap: wrap;
  }

  .md\:grid  { display: grid; }
  .md\:grid2 { display: grid; grid-template-columns: repeat(2, 1fr); }
  .md\:grid3 { display: grid; grid-template-columns: repeat(3, 1fr); }
  .md\:grid4 { display: grid; grid-template-columns: repeat(4, 1fr); }
  .md\:grid5 { display: grid; grid-template-columns: repeat(5, 1fr); }
  .md\:grid6 { display: grid; grid-template-columns: repeat(6, 1fr); }
  .md\:grid7 { display: grid; grid-template-columns: repeat(7, 1fr); }
  .md\:grid8 { display: grid; grid-template-columns: repeat(8, 1fr); }

  .md\:gap0    { gap: 0;        }
  .md\:gap0125 { gap: 0.125rem; }
  .md\:gap025  { gap: 0.25rem;  }
  .md\:gap05   { gap: 0.50rem;  }
  .md\:gap075  { gap: 0.75rem;  }
  .md\:gap1    { gap: 1.00rem;  }
  .md\:gap125  { gap: 1.25rem;  }
  .md\:gap15   { gap: 1.50rem;  }
  .md\:gap175  { gap: 1.75rem;  }
  .md\:gap2    { gap: 2.00rem;  }
  .md\:gap25   { gap: 2.50rem;  }
  .md\:gap3    { gap: 3.00rem;  }
  .md\:gap4    { gap: 4.00rem;  }

  .md\:gapx0    { column-gap: 0;        }
  .md\:gapx0125 { column-gap: 0.125rem; }
  .md\:gapx025  { column-gap: 0.25rem;  }
  .md\:gapx05   { column-gap: 0.50rem;  }
  .md\:gapx075  { column-gap: 0.75rem;  }
  .md\:gapx1    { column-gap: 1.00rem;  }
  .md\:gapx125  { column-gap: 1.25rem;  }
  .md\:gapx15   { column-gap: 1.50rem;  }
  .md\:gapx175  { column-gap: 1.75rem;  }
  .md\:gapx2    { column-gap: 2.00rem;  }
  .md\:gapx25   { column-gap: 2.50rem;  }
  .md\:gapx3    { column-gap: 3.00rem;  }
  .md\:gapx4    { column-gap: 4.00rem;  }

  .md\:gapy0    { row-gap: 0;        }
  .md\:gapy0125 { row-gap: 0.125rem; }
  .md\:gapy025  { row-gap: 0.25rem;  }
  .md\:gapy05   { row-gap: 0.50rem;  }
  .md\:gapy075  { row-gap: 0.75rem;  }
  .md\:gapy1    { row-gap: 1.00rem;  }
  .md\:gapy125  { row-gap: 1.25rem;  }
  .md\:gapy15   { row-gap: 1.50rem;  }
  .md\:gapy175  { row-gap: 1.75rem;  }
  .md\:gapy2    { row-gap: 2.00rem;  }
  .md\:gapy25   { row-gap: 2.50rem;  }
  .md\:gapy3    { row-gap: 3.00rem;  }
  .md\:gapy4    { row-gap: 4.00rem;  }

  .md\:order0 { order: 0; }
  .md\:order1 { order: 1; }
  .md\:order9 { order: 9; }

}

@media (--view-ld) {

  .ld\:show { display: block; }
  .ld\:hide { display: none; }

  .ld\:max { max-width: none; }

  .ld\:row,
  .ld\:row-wrap { display: flex; flex-direction: row; }
  .ld\:col,
  .ld\:col-wrap { display: flex; flex-direction: column; }

  .ld\:row-reverse,
  .ld\:row-reverse-wrap { display: flex; flex-direction: row-reverse; }
  .ld\:col-reverse,
  .ld\:col-reverse-wrap { display: flex; flex-direction: column-reverse; }

  .ld\:row-wrap,
  .ld\:col-wrap,
  .ld\:row-reverse-wrap,
  .ld\:col-reverse-wrap,
  .ld\:flex-wrap {
    flex-wrap: wrap;
  }

  .ld\:grid  { display: grid; }
  .ld\:grid2 { display: grid; grid-template-columns: repeat(2, 1fr); }
  .ld\:grid3 { display: grid; grid-template-columns: repeat(3, 1fr); }
  .ld\:grid4 { display: grid; grid-template-columns: repeat(4, 1fr); }
  .ld\:grid5 { display: grid; grid-template-columns: repeat(5, 1fr); }
  .ld\:grid6 { display: grid; grid-template-columns: repeat(6, 1fr); }
  .ld\:grid7 { display: grid; grid-template-columns: repeat(7, 1fr); }
  .ld\:grid8 { display: grid; grid-template-columns: repeat(8, 1fr); }

  .ld\:gap0    { gap: 0;        }
  .ld\:gap0125 { gap: 0.125rem; }
  .ld\:gap025  { gap: 0.25rem;  }
  .ld\:gap05   { gap: 0.50rem;  }
  .ld\:gap075  { gap: 0.75rem;  }
  .ld\:gap1    { gap: 1.00rem;  }
  .ld\:gap125  { gap: 1.25rem;  }
  .ld\:gap15   { gap: 1.50rem;  }
  .ld\:gap175  { gap: 1.75rem;  }
  .ld\:gap2    { gap: 2.00rem;  }
  .ld\:gap25   { gap: 2.50rem;  }
  .ld\:gap3    { gap: 3.00rem;  }
  .ld\:gap4    { gap: 4.00rem;  }

  .ld\:gapx0    { column-gap: 0;        }
  .ld\:gapx0125 { column-gap: 0.125rem; }
  .ld\:gapx025  { column-gap: 0.25rem;  }
  .ld\:gapx05   { column-gap: 0.50rem;  }
  .ld\:gapx075  { column-gap: 0.75rem;  }
  .ld\:gapx1    { column-gap: 1.00rem;  }
  .ld\:gapx125  { column-gap: 1.25rem;  }
  .ld\:gapx15   { column-gap: 1.50rem;  }
  .ld\:gapx175  { column-gap: 1.75rem;  }
  .ld\:gapx2    { column-gap: 2.00rem;  }
  .ld\:gapx25   { column-gap: 2.50rem;  }
  .ld\:gapx3    { column-gap: 3.00rem;  }
  .ld\:gapx4    { column-gap: 4.00rem;  }

  .ld\:gapy0    { row-gap: 0;        }
  .ld\:gapy0125 { row-gap: 0.125rem; }
  .ld\:gapy025  { row-gap: 0.25rem;  }
  .ld\:gapy05   { row-gap: 0.50rem;  }
  .ld\:gapy075  { row-gap: 0.75rem;  }
  .ld\:gapy1    { row-gap: 1.00rem;  }
  .ld\:gapy125  { row-gap: 1.25rem;  }
  .ld\:gapy15   { row-gap: 1.50rem;  }
  .ld\:gapy175  { row-gap: 1.75rem;  }
  .ld\:gapy2    { row-gap: 2.00rem;  }
  .ld\:gapy25   { row-gap: 2.50rem;  }
  .ld\:gapy3    { row-gap: 3.00rem;  }
  .ld\:gapy4    { row-gap: 4.00rem;  }

  .ld\:order0 { order: 0; }
  .ld\:order1 { order: 1; }
  .ld\:order9 { order: 9; }

}

@media (--view-xl) {

  .xl\:show { display: block; }
  .xl\:hide { display: none; }

  .xl\:max { max-width: none; }

  .xl\:row,
  .xl\:row-wrap { display: flex; flex-direction: row; }
  .xl\:col,
  .xl\:col-wrap { display: flex; flex-direction: column; }

  .xl\:row-reverse,
  .xl\:row-reverse-wrap { display: flex; flex-direction: row-reverse; }
  .xl\:col-reverse,
  .xl\:col-reverse-wrap { display: flex; flex-direction: column-reverse; }

  .xl\:row-wrap,
  .xl\:col-wrap,
  .xl\:row-reverse-wrap,
  .xl\:col-reverse-wrap,
  .xl\:flex-wrap {
    flex-wrap: wrap;
  }

  .xl\:grid  { display: grid; }
  .xl\:grid2 { display: grid; grid-template-columns: repeat(2, 1fr); }
  .xl\:grid3 { display: grid; grid-template-columns: repeat(3, 1fr); }
  .xl\:grid4 { display: grid; grid-template-columns: repeat(4, 1fr); }
  .xl\:grid5 { display: grid; grid-template-columns: repeat(5, 1fr); }
  .xl\:grid6 { display: grid; grid-template-columns: repeat(6, 1fr); }
  .xl\:grid7 { display: grid; grid-template-columns: repeat(7, 1fr); }
  .xl\:grid8 { display: grid; grid-template-columns: repeat(8, 1fr); }

  .xl\:gap0    { gap: 0;        }
  .xl\:gap0125 { gap: 0.125rem; }
  .xl\:gap025  { gap: 0.25rem;  }
  .xl\:gap05   { gap: 0.50rem;  }
  .xl\:gap075  { gap: 0.75rem;  }
  .xl\:gap1    { gap: 1.00rem;  }
  .xl\:gap125  { gap: 1.25rem;  }
  .xl\:gap15   { gap: 1.50rem;  }
  .xl\:gap175  { gap: 1.75rem;  }
  .xl\:gap2    { gap: 2.00rem;  }
  .xl\:gap25   { gap: 2.50rem;  }
  .xl\:gap3    { gap: 3.00rem;  }
  .xl\:gap4    { gap: 4.00rem;  }

  .xl\:gapx0    { column-gap: 0;        }
  .xl\:gapx0125 { column-gap: 0.125rem; }
  .xl\:gapx025  { column-gap: 0.25rem;  }
  .xl\:gapx05   { column-gap: 0.50rem;  }
  .xl\:gapx075  { column-gap: 0.75rem;  }
  .xl\:gapx1    { column-gap: 1.00rem;  }
  .xl\:gapx125  { column-gap: 1.25rem;  }
  .xl\:gapx15   { column-gap: 1.50rem;  }
  .xl\:gapx175  { column-gap: 1.75rem;  }
  .xl\:gapx2    { column-gap: 2.00rem;  }
  .xl\:gapx25   { column-gap: 2.50rem;  }
  .xl\:gapx3    { column-gap: 3.00rem;  }
  .xl\:gapx4    { column-gap: 4.00rem;  }

  .xl\:gapy0    { row-gap: 0;        }
  .xl\:gapy0125 { row-gap: 0.125rem; }
  .xl\:gapy025  { row-gap: 0.25rem;  }
  .xl\:gapy05   { row-gap: 0.50rem;  }
  .xl\:gapy075  { row-gap: 0.75rem;  }
  .xl\:gapy1    { row-gap: 1.00rem;  }
  .xl\:gapy125  { row-gap: 1.25rem;  }
  .xl\:gapy15   { row-gap: 1.50rem;  }
  .xl\:gapy175  { row-gap: 1.75rem;  }
  .xl\:gapy2    { row-gap: 2.00rem;  }
  .xl\:gapy25   { row-gap: 2.50rem;  }
  .xl\:gapy3    { row-gap: 3.00rem;  }
  .xl\:gapy4    { row-gap: 4.00rem;  }

  .xl\:order0 { order: 0; }
  .xl\:order1 { order: 1; }
  .xl\:order9 { order: 9; }

}
