.absolute { position: absolute; }
.relative { position: relative; }
.fixed    { position: fixed;    }
.sticky   { position: sticky;   }

.left   { left:   0; }
.right  { right:  0; }
.top    { top:    0; }
.bottom { bottom: 0; }

.left100   { left:   100%; }
.right100  { right:  100%; }
.top100    { top:    100%; }
.bottom100 { bottom: 100%; }

.z0    { z-index: 0;    }
.z1    { z-index: 1;    }
.z2    { z-index: 2;    }
.z3    { z-index: 3;    }
.z9    { z-index: 9;    }
.z99   { z-index: 99;   }
.z999  { z-index: 999;  }
.z9999 { z-index: 9999; }

.object-contain   { object-fit: contain; }
.object-cover     { object-fit: cover; }
.object-fill      { object-fit: fill; }
.object-scaledown { object-fit: scale-down; }
