<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="./custom.css">
  <link rel="stylesheet" href="https://unpkg.com/abrusco@0.8.1/css/abrusco.min.css">
</head>
<body class="col max77 mx p05 sd-p1">

  <header class="py1 sd-py2 md-row justify-between items-center">
    <div class="py1">
      <div class="row justify-between items-center">
        <a class="block px05 py1 sd-p1 fw700" href=".">Company</a>
        <label for="menu" class="block cursor-pointer px05 sd-px1 md-hide">
          <svg class="image" width="24" height="48">
            <rect y="16" width="24" height="2" />
            <rect y="23" width="24" height="2" />
            <rect y="30" width="24" height="2" />
          </svg>
        </label>
      </div>
    </div>
    <input type="checkbox" id="menu">
    <nav class="hide md-show">
      <ul class="py1 md-row">
        <li><a class="block ul:hover px05 py1 sd-p1" href="work.html">Work</a></li>
        <li><a class="block ul:hover px05 py1 sd-p1" href="studio.html">Studio</a></li>
        <li><a class="block ul:hover px05 py1 sd-p1" href="people.html">People</a></li>
        <li><a class="block ul:hover px05 py1 sd-p1" href="news.html">News</a></li>
        <li><a class="block ul:hover px05 py1 sd-p1 fw700" href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main class="span1">

    <header class="py2 sd-py3">
      <div class="px025 py05 sd-p05">
        <h1 class="px025 py05 sd-p05 h2 fw700 lh2">Get In Touch</h1>
        <div class="px025 py05 sd-p05 max40">
          <p class="h4 lh4 color-black-50">Cras massa dui, consequat a ultrices vitae, malesuada vitae quam. Integer nec sapien posuere, congue arcu.</p>
        </div>
      </div>
    </header>

  </main>

  <footer class="py2 sd-py3">
    <div class="px05 py1 sd-p1">
      <p class="lh4">Abrusco Templates</p>
    </div>
  </footer>

</body>
</html>
