.bg-cover { background-size: cover; }
.bg-contain { background-size: contain; }

.bg-top { background-position: top; }
.bg-bottom { background-position: bottom; }
.bg-left { background-position: left; }
.bg-right { background-position: right; }
.bg-center { background-position: center; }
.bg-topleft { background-position: top left; }
.bg-topright { background-position: top right; }
.bg-bottomleft { background-position: bottom left; }
.bg-bottomright { background-position: bottom right; }

.bg-repeatx { background-repeat: repeat-x; }
.bg-repeaty { background-repeat: repeat-y; }
.bg-norepeat { background-repeat: no-repeat; }

.bg-current {
  background-color: currentColor;
}

.bg-transparent,
.bg-transparent\:hover:hover,
.anchor:hover .bg-transparent\:hover {
  background-color: transparent;
}

.bg-black,
.bg-black\:hover:hover,
.anchor:hover .bg-black\:hover {
  --bg-hue: var(--black-hue);
  --bg-sat: var(--black-sat);
  --bg-lum: var(--black-lum);
  --bg-alpha: 100%;
  --bg-color: var(--black, hsla(var(--bg-hue) var(--bg-sat) var(--bg-lum) / var(--bg-alpha)));
  background-color: var(--bg-color);
}

.bg-white,
.bg-white\:hover:hover,
.anchor:hover .bg-white\:hover {
  --bg-hue: var(--white-hue);
  --bg-sat: var(--white-sat);
  --bg-lum: var(--white-lum);
  --bg-alpha: 100%;
  --bg-color: var(--white, hsla(var(--bg-hue) var(--bg-sat) var(--bg-lum) / var(--bg-alpha)));
  background-color: var(--bg-color);
}

.bg-gray,
.bg-gray\:hover:hover,
.anchor:hover .bg-gray\:hover {
  --bg-hue: var(--gray-hue);
  --bg-sat: var(--gray-sat);
  --bg-lum: var(--gray-lum);
  --bg-alpha: 100%;
  --bg-color: var(--gray, hsla(var(--bg-hue) var(--bg-sat) var(--bg-lum) / var(--bg-alpha)));
  background-color: var(--bg-color);
}

.bg-aqua { background-color: var(--aqua); }
.bg-blue { background-color: var(--blue); }
.bg-navy { background-color: var(--navy); }
.bg-teal { background-color: var(--teal); }
.bg-green { background-color: var(--green); }
.bg-olive { background-color: var(--olive); }
.bg-lime { background-color: var(--lime); }
.bg-yellow { background-color: var(--yellow); }
.bg-orange { background-color: var(--orange); }
.bg-red { background-color: var(--red); }
.bg-fuchsia { background-color: var(--fuchsia); }
.bg-purple { background-color: var(--purple); }
.bg-maroon { background-color: var(--maroon); }

.bg-sat0   { --bg-sat:   0%; }
.bg-sat5   { --bg-sat:   5%; }
.bg-sat10  { --bg-sat:  10%; }
.bg-sat15  { --bg-sat:  15%; }
.bg-sat20  { --bg-sat:  20%; }
.bg-sat25  { --bg-sat:  25%; }
.bg-sat30  { --bg-sat:  30%; }
.bg-sat35  { --bg-sat:  35%; }
.bg-sat40  { --bg-sat:  40%; }
.bg-sat45  { --bg-sat:  45%; }
.bg-sat50  { --bg-sat:  50%; }
.bg-sat55  { --bg-sat:  55%; }
.bg-sat60  { --bg-sat:  60%; }
.bg-sat65  { --bg-sat:  65%; }
.bg-sat70  { --bg-sat:  70%; }
.bg-sat75  { --bg-sat:  75%; }
.bg-sat80  { --bg-sat:  80%; }
.bg-sat85  { --bg-sat:  85%; }
.bg-sat90  { --bg-sat:  90%; }
.bg-sat95  { --bg-sat:  95%; }
.bg-sat100 { --bg-sat: 100%; }

.bg-lum0   { --bg-lum:   0%; }
.bg-lum5   { --bg-lum:   5%; }
.bg-lum10  { --bg-lum:  10%; }
.bg-lum15  { --bg-lum:  15%; }
.bg-lum20  { --bg-lum:  20%; }
.bg-lum25  { --bg-lum:  25%; }
.bg-lum30  { --bg-lum:  30%; }
.bg-lum35  { --bg-lum:  35%; }
.bg-lum40  { --bg-lum:  40%; }
.bg-lum45  { --bg-lum:  45%; }
.bg-lum50  { --bg-lum:  50%; }
.bg-lum55  { --bg-lum:  55%; }
.bg-lum60  { --bg-lum:  60%; }
.bg-lum65  { --bg-lum:  65%; }
.bg-lum70  { --bg-lum:  70%; }
.bg-lum75  { --bg-lum:  75%; }
.bg-lum80  { --bg-lum:  80%; }
.bg-lum85  { --bg-lum:  85%; }
.bg-lum90  { --bg-lum:  90%; }
.bg-lum95  { --bg-lum:  95%; }
.bg-lum100 { --bg-lum: 100%; }

.bg-alpha0   { --bg-alpha:   0%; }
.bg-alpha5   { --bg-alpha:   5%; }
.bg-alpha10  { --bg-alpha:  10%; }
.bg-alpha20  { --bg-alpha:  20%; }
.bg-alpha30  { --bg-alpha:  30%; }
.bg-alpha40  { --bg-alpha:  40%; }
.bg-alpha50  { --bg-alpha:  50%; }
.bg-alpha60  { --bg-alpha:  60%; }
.bg-alpha70  { --bg-alpha:  70%; }
.bg-alpha80  { --bg-alpha:  80%; }
.bg-alpha90  { --bg-alpha:  90%; }
.bg-alpha95  { --bg-alpha:  95%; }
.bg-alpha100 { --bg-alpha: 100%; }
