.bg-cover { background-size: cover; }
.bg-contain { background-size: contain; }

.bg-top { background-position: top; }
.bg-bottom { background-position: bottom; }
.bg-left { background-position: left; }
.bg-right { background-position: right; }
.bg-center { background-position: center; }
.bg-topleft { background-position: top left; }
.bg-topright { background-position: top right; }
.bg-bottomleft { background-position: bottom left; }
.bg-bottomright { background-position: bottom right; }

.bg-repeatx { background-repeat: repeat-x; }
.bg-repeaty { background-repeat: repeat-y; }
.bg-norepeat { background-repeat: no-repeat; }

.bg-current {
  background-color: currentColor;
}

.bg-transparent,
.bg-transparent\:hover:hover,
.anchor:hover .bg-transparent\:hover {
  background-color: transparent;
}

.bg-black,
.bg-black\:hover:hover,
.anchor:hover .bg-black\:hover {
  --bg-hue: var(--black-hue);
  --bg-sat: var(--black-sat);
  --bg-lum: var(--black-lum);
  --bg-alpha: 100%;
  --bg-color: var(--black, hsla(var(--bg-hue) var(--bg-sat) var(--bg-lum) / var(--bg-alpha)));
  background-color: var(--bg-color);
}

.bg-white,
.bg-white\:hover:hover,
.anchor:hover .bg-white\:hover {
  --bg-hue: var(--white-hue);
  --bg-sat: var(--white-sat);
  --bg-lum: var(--white-lum);
  --bg-alpha: 100%;
  --bg-color: var(--white, hsla(var(--bg-hue) var(--bg-sat) var(--bg-lum) / var(--bg-alpha)));
  background-color: var(--bg-color);
}

.bg-gray,
.bg-gray\:hover:hover,
.anchor:hover .bg-gray\:hover {
  --bg-hue: var(--gray-hue);
  --bg-sat: var(--gray-sat);
  --bg-lum: var(--gray-lum);
  --bg-alpha: 100%;
  --bg-color: var(--gray, hsla(var(--bg-hue) var(--bg-sat) var(--bg-lum) / var(--bg-alpha)));
  background-color: var(--bg-color);
}

.bg-red,
.bg-red\:hover:hover,
.anchor:hover .bg-red\:hover {
  --bg-hue: var(--red-hue);
  --bg-sat: var(--red-sat);
  --bg-lum: var(--red-lum);
  --bg-alpha: 100%;
  --bg-color: var(--red, hsla(var(--bg-hue) var(--bg-sat) var(--bg-lum) / var(--bg-alpha)));
  background-color: var(--bg-color);
}

.bg-orange,
.bg-orange\:hover:hover,
.anchor:hover .bg-orange\:hover {
  --bg-hue: var(--orange-hue);
  --bg-sat: var(--orange-sat);
  --bg-lum: var(--orange-lum);
  --bg-alpha: 100%;
  --bg-color: var(--orange, hsla(var(--bg-hue) var(--bg-sat) var(--bg-lum) / var(--bg-alpha)));
  background-color: var(--bg-color);
}

.bg-yellow,
.bg-yellow\:hover:hover,
.anchor:hover .bg-yellow\:hover {
  --bg-hue: var(--yellow-hue);
  --bg-sat: var(--yellow-sat);
  --bg-lum: var(--yellow-lum);
  --bg-alpha: 100%;
  --bg-color: var(--yellow, hsla(var(--bg-hue) var(--bg-sat) var(--bg-lum) / var(--bg-alpha)));
  background-color: var(--bg-color);
}

.bg-green,
.bg-green\:hover:hover,
.anchor:hover .bg-green\:hover {
  --bg-hue: var(--green-hue);
  --bg-sat: var(--green-sat);
  --bg-lum: var(--green-lum);
  --bg-alpha: 100%;
  --bg-color: var(--green, hsla(var(--bg-hue) var(--bg-sat) var(--bg-lum) / var(--bg-alpha)));
  background-color: var(--bg-color);
}

.bg-teal,
.bg-teal\:hover:hover,
.anchor:hover .bg-teal\:hover {
  --bg-hue: var(--teal-hue);
  --bg-sat: var(--teal-sat);
  --bg-lum: var(--teal-lum);
  --bg-alpha: 100%;
  --bg-color: var(--teal, hsla(var(--bg-hue) var(--bg-sat) var(--bg-lum) / var(--bg-alpha)));
  background-color: var(--bg-color);
}

.bg-cyan,
.bg-cyan\:hover:hover,
.anchor:hover .bg-cyan\:hover {
  --bg-hue: var(--cyan-hue);
  --bg-sat: var(--cyan-sat);
  --bg-lum: var(--cyan-lum);
  --bg-alpha: 100%;
  --bg-color: var(--cyan, hsla(var(--bg-hue) var(--bg-sat) var(--bg-lum) / var(--bg-alpha)));
  background-color: var(--bg-color);
}

.bg-blue,
.bg-blue\:hover:hover,
.anchor:hover .bg-blue\:hover {
  --bg-hue: var(--blue-hue);
  --bg-sat: var(--blue-sat);
  --bg-lum: var(--blue-lum);
  --bg-alpha: 100%;
  --bg-color: var(--blue, hsla(var(--bg-hue) var(--bg-sat) var(--bg-lum) / var(--bg-alpha)));
  background-color: var(--bg-color);
}

.bg-indigo,
.bg-indigo\:hover:hover,
.anchor:hover .bg-indigo\:hover {
  --bg-hue: var(--indigo-hue);
  --bg-sat: var(--indigo-sat);
  --bg-lum: var(--indigo-lum);
  --bg-alpha: 100%;
  --bg-color: var(--indigo, hsla(var(--bg-hue) var(--bg-sat) var(--bg-lum) / var(--bg-alpha)));
  background-color: var(--bg-color);
}

.bg-purple,
.bg-purple\:hover:hover,
.anchor:hover .bg-purple\:hover {
  --bg-hue: var(--purple-hue);
  --bg-sat: var(--purple-sat);
  --bg-lum: var(--purple-lum);
  --bg-alpha: 100%;
  --bg-color: var(--purple, hsla(var(--bg-hue) var(--bg-sat) var(--bg-lum) / var(--bg-alpha)));
  background-color: var(--bg-color);
}

.bg-pink,
.bg-pink\:hover:hover,
.anchor:hover .bg-pink\:hover {
  --bg-hue: var(--pink-hue);
  --bg-sat: var(--pink-sat);
  --bg-lum: var(--pink-lum);
  --bg-alpha: 100%;
  --bg-color: var(--pink, hsla(var(--bg-hue) var(--bg-sat) var(--bg-lum) / var(--bg-alpha)));
  background-color: var(--bg-color);
}

.bg-ruby,
.bg-ruby\:hover:hover,
.anchor:hover .bg-ruby\:hover {
  --bg-hue: var(--ruby-hue);
  --bg-sat: var(--ruby-sat);
  --bg-lum: var(--ruby-lum);
  --bg-alpha: 100%;
  --bg-color: var(--ruby, hsla(var(--bg-hue) var(--bg-sat) var(--bg-lum) / var(--bg-alpha)));
  background-color: var(--bg-color);
}

.bg-sat0,   .bg-sat0\:hover:hover,   .anchor:hover .bg-sat0\:hover   { --bg-sat:   0%; }
.bg-sat5,   .bg-sat5\:hover:hover,   .anchor:hover .bg-sat5\:hover   { --bg-sat:   5%; }
.bg-sat10,  .bg-sat10\:hover:hover,  .anchor:hover .bg-sat10\:hover  { --bg-sat:  10%; }
.bg-sat15,  .bg-sat15\:hover:hover,  .anchor:hover .bg-sat15\:hover  { --bg-sat:  15%; }
.bg-sat20,  .bg-sat20\:hover:hover,  .anchor:hover .bg-sat20\:hover  { --bg-sat:  20%; }
.bg-sat25,  .bg-sat25\:hover:hover,  .anchor:hover .bg-sat25\:hover  { --bg-sat:  25%; }
.bg-sat30,  .bg-sat30\:hover:hover,  .anchor:hover .bg-sat30\:hover  { --bg-sat:  30%; }
.bg-sat35,  .bg-sat35\:hover:hover,  .anchor:hover .bg-sat35\:hover  { --bg-sat:  35%; }
.bg-sat40,  .bg-sat40\:hover:hover,  .anchor:hover .bg-sat40\:hover  { --bg-sat:  40%; }
.bg-sat45,  .bg-sat45\:hover:hover,  .anchor:hover .bg-sat45\:hover  { --bg-sat:  45%; }
.bg-sat50,  .bg-sat50\:hover:hover,  .anchor:hover .bg-sat50\:hover  { --bg-sat:  50%; }
.bg-sat55,  .bg-sat55\:hover:hover,  .anchor:hover .bg-sat55\:hover  { --bg-sat:  55%; }
.bg-sat60,  .bg-sat60\:hover:hover,  .anchor:hover .bg-sat60\:hover  { --bg-sat:  60%; }
.bg-sat65,  .bg-sat65\:hover:hover,  .anchor:hover .bg-sat65\:hover  { --bg-sat:  65%; }
.bg-sat70,  .bg-sat70\:hover:hover,  .anchor:hover .bg-sat70\:hover  { --bg-sat:  70%; }
.bg-sat75,  .bg-sat75\:hover:hover,  .anchor:hover .bg-sat75\:hover  { --bg-sat:  75%; }
.bg-sat80,  .bg-sat80\:hover:hover,  .anchor:hover .bg-sat80\:hover  { --bg-sat:  80%; }
.bg-sat85,  .bg-sat85\:hover:hover,  .anchor:hover .bg-sat85\:hover  { --bg-sat:  85%; }
.bg-sat90,  .bg-sat90\:hover:hover,  .anchor:hover .bg-sat90\:hover  { --bg-sat:  90%; }
.bg-sat95,  .bg-sat95\:hover:hover,  .anchor:hover .bg-sat95\:hover  { --bg-sat:  95%; }
.bg-sat100, .bg-sat100\:hover:hover, .anchor:hover .bg-sat100\:hover { --bg-sat: 100%; }

.bg-lum0,   .bg-lum0\:hover:hover,   .anchor:hover .bg-lum0\:hover   { --bg-lum:   0%; }
.bg-lum5,   .bg-lum5\:hover:hover,   .anchor:hover .bg-lum5\:hover   { --bg-lum:   5%; }
.bg-lum10,  .bg-lum10\:hover:hover,  .anchor:hover .bg-lum10\:hover  { --bg-lum:  10%; }
.bg-lum15,  .bg-lum15\:hover:hover,  .anchor:hover .bg-lum15\:hover  { --bg-lum:  15%; }
.bg-lum20,  .bg-lum20\:hover:hover,  .anchor:hover .bg-lum20\:hover  { --bg-lum:  20%; }
.bg-lum25,  .bg-lum25\:hover:hover,  .anchor:hover .bg-lum25\:hover  { --bg-lum:  25%; }
.bg-lum30,  .bg-lum30\:hover:hover,  .anchor:hover .bg-lum30\:hover  { --bg-lum:  30%; }
.bg-lum35,  .bg-lum35\:hover:hover,  .anchor:hover .bg-lum35\:hover  { --bg-lum:  35%; }
.bg-lum40,  .bg-lum40\:hover:hover,  .anchor:hover .bg-lum40\:hover  { --bg-lum:  40%; }
.bg-lum45,  .bg-lum45\:hover:hover,  .anchor:hover .bg-lum45\:hover  { --bg-lum:  45%; }
.bg-lum50,  .bg-lum50\:hover:hover,  .anchor:hover .bg-lum50\:hover  { --bg-lum:  50%; }
.bg-lum55,  .bg-lum55\:hover:hover,  .anchor:hover .bg-lum55\:hover  { --bg-lum:  55%; }
.bg-lum60,  .bg-lum60\:hover:hover,  .anchor:hover .bg-lum60\:hover  { --bg-lum:  60%; }
.bg-lum65,  .bg-lum65\:hover:hover,  .anchor:hover .bg-lum65\:hover  { --bg-lum:  65%; }
.bg-lum70,  .bg-lum70\:hover:hover,  .anchor:hover .bg-lum70\:hover  { --bg-lum:  70%; }
.bg-lum75,  .bg-lum75\:hover:hover,  .anchor:hover .bg-lum75\:hover  { --bg-lum:  75%; }
.bg-lum80,  .bg-lum80\:hover:hover,  .anchor:hover .bg-lum80\:hover  { --bg-lum:  80%; }
.bg-lum85,  .bg-lum85\:hover:hover,  .anchor:hover .bg-lum85\:hover  { --bg-lum:  85%; }
.bg-lum90,  .bg-lum90\:hover:hover,  .anchor:hover .bg-lum90\:hover  { --bg-lum:  90%; }
.bg-lum95,  .bg-lum95\:hover:hover,  .anchor:hover .bg-lum95\:hover  { --bg-lum:  95%; }
.bg-lum100, .bg-lum100\:hover:hover, .anchor:hover .bg-lum100\:hover { --bg-lum: 100%; }

.bg-alpha0,   .bg-alpha0\:hover:hover,   .anchor:hover .bg-alpha0\:hover   { --bg-alpha:   0%; }
.bg-alpha5,   .bg-alpha5\:hover:hover,   .anchor:hover .bg-alpha5\:hover   { --bg-alpha:   5%; }
.bg-alpha10,  .bg-alpha10\:hover:hover,  .anchor:hover .bg-alpha10\:hover  { --bg-alpha:  10%; }
.bg-alpha20,  .bg-alpha20\:hover:hover,  .anchor:hover .bg-alpha20\:hover  { --bg-alpha:  20%; }
.bg-alpha30,  .bg-alpha30\:hover:hover,  .anchor:hover .bg-alpha30\:hover  { --bg-alpha:  30%; }
.bg-alpha40,  .bg-alpha40\:hover:hover,  .anchor:hover .bg-alpha40\:hover  { --bg-alpha:  40%; }
.bg-alpha50,  .bg-alpha50\:hover:hover,  .anchor:hover .bg-alpha50\:hover  { --bg-alpha:  50%; }
.bg-alpha60,  .bg-alpha60\:hover:hover,  .anchor:hover .bg-alpha60\:hover  { --bg-alpha:  60%; }
.bg-alpha70,  .bg-alpha70\:hover:hover,  .anchor:hover .bg-alpha70\:hover  { --bg-alpha:  70%; }
.bg-alpha80,  .bg-alpha80\:hover:hover,  .anchor:hover .bg-alpha80\:hover  { --bg-alpha:  80%; }
.bg-alpha90,  .bg-alpha90\:hover:hover,  .anchor:hover .bg-alpha90\:hover  { --bg-alpha:  90%; }
.bg-alpha95,  .bg-alpha95\:hover:hover,  .anchor:hover .bg-alpha95\:hover  { --bg-alpha:  95%; }
.bg-alpha100, .bg-alpha100\:hover:hover, .anchor:hover .bg-alpha100\:hover { --bg-alpha: 100%; }
