.ba { border:        var(--border-width) solid var(--border-color); }
.bl { border-left:   var(--border-width) solid var(--border-color); }
.br { border-right:  var(--border-width) solid var(--border-color); }
.bt { border-top:    var(--border-width) solid var(--border-color); }
.bb { border-bottom: var(--border-width) solid var(--border-color); }

.border-black      { --border-color: var(--black);      }
.border-black-95   { --border-color: var(--black-95);   }
.border-black-90   { --border-color: var(--black-90);   }
.border-black-80   { --border-color: var(--black-80);   }
.border-black-70   { --border-color: var(--black-70);   }
.border-black-60   { --border-color: var(--black-60);   }
.border-black-50   { --border-color: var(--black-50);   }
.border-black-40   { --border-color: var(--black-40);   }
.border-black-30   { --border-color: var(--black-30);   }
.border-black-20   { --border-color: var(--black-20);   }
.border-black-10   { --border-color: var(--black-10);   }
.border-black-05   { --border-color: var(--black-05);   }
.border-black-025  { --border-color: var(--black-025);  }
.border-black-0125 { --border-color: var(--black-0125); }

.border-white      { --border-color: var(--white);      }
.border-white-95   { --border-color: var(--white-95);   }
.border-white-90   { --border-color: var(--white-90);   }
.border-white-80   { --border-color: var(--white-80);   }
.border-white-70   { --border-color: var(--white-70);   }
.border-white-60   { --border-color: var(--white-60);   }
.border-white-50   { --border-color: var(--white-50);   }
.border-white-40   { --border-color: var(--white-40);   }
.border-white-30   { --border-color: var(--white-30);   }
.border-white-20   { --border-color: var(--white-20);   }
.border-white-10   { --border-color: var(--white-10);   }
.border-white-05   { --border-color: var(--white-05);   }
.border-white-025  { --border-color: var(--white-025);  }
.border-white-0125 { --border-color: var(--white-0125); }

.border-gray {
  --border-hue: var(--gray-hue);
  --border-sat: var(--gray-sat);
  --border-lum: var(--gray-lum);
  --border-alpha: 100%;
  --border-color: hsla(var(--border-hue) var(--border-sat) var(--border-lum) / var(--border-alpha));
  border-color: var(--border-color);
}

.border-aqua    { --border-color: var(--aqua);    }
.border-blue    { --border-color: var(--blue);    }
.border-navy    { --border-color: var(--navy);    }
.border-teal    { --border-color: var(--teal);    }
.border-green   { --border-color: var(--green);   }
.border-olive   { --border-color: var(--olive);   }
.border-lime    { --border-color: var(--lime);    }
.border-yellow  { --border-color: var(--yellow);  }
.border-orange  { --border-color: var(--orange);  }
.border-red     { --border-color: var(--red);     }
.border-fuchsia { --border-color: var(--fuchsia); }
.border-purple  { --border-color: var(--purple);  }
.border-maroon  { --border-color: var(--maroon);  }

.border-black,
.border-black-95,
.border-black-90,
.border-black-80,
.border-black-70,
.border-black-60,
.border-black-50,
.border-black-40,
.border-black-30,
.border-black-20,
.border-black-10,
.border-black-05,
.border-black-025,
.border-black-0125,
.border-white,
.border-white-95,
.border-white-90,
.border-white-80,
.border-white-70,
.border-white-60,
.border-white-50,
.border-white-40,
.border-white-30,
.border-white-20,
.border-white-10,
.border-white-05,
.border-white-025,
.border-white-0125,
.border-aqua,
.border-blue,
.border-navy,
.border-teal,
.border-green,
.border-olive,
.border-lime,
.border-yellow,
.border-orange,
.border-red,
.border-fuchsia,
.border-purple,
.border-maroon {
  border-color: var(--border-color);
}

.br1   { --border-radius: var(--br1); }
.br2   { --border-radius: var(--br2); }
.br3   { --border-radius: var(--br3); }
.br4   { --border-radius: var(--br4); }
.br5   { --border-radius: var(--br5); }
.br100 { --border-radius:      100%;  }
.br999 { --border-radius:      999px; }

.br1,
.br2,
.br3,
.br4,
.br5,
.br100,
.br999 {
  border-radius: var(--border-radius);
}
