.color-current,
.color-current\:hover:hover,
.anchor:hover .color-current\:hover {
  color: currentColor;
}

.color-inherit,
.color-inherit\:hover:hover,
.anchor:hover .color-inherit\:hover {
  color: inherit;
}

.color-transparent {
  color: transparent;
}

.black,
.black\:hover:hover,
.anchor:hover .black\:hover {
  --hue: var(--black-hue);
  --sat: var(--black-sat);
  --lum: var(--black-lum);
  --alpha: 100%;
  --color: var(--black, hsla(var(--hue) var(--sat) var(--lum) / var(--alpha)));
  color: var(--color);
}

.white,
.white\:hover:hover,
.anchor:hover .white\:hover {
  --hue: var(--white-hue);
  --sat: var(--white-sat);
  --lum: var(--white-lum);
  --alpha: 100%;
  --color: var(--white, hsla(var(--hue) var(--sat) var(--lum) / var(--alpha)));
  color: var(--color);
}

.gray,
.gray\:hover:hover,
.anchor:hover .gray\:hover {
  --hue: var(--gray-hue);
  --sat: var(--gray-sat);
  --lum: var(--gray-lum);
  --alpha: 100%;
  --color: var(--gray, hsla(var(--hue) var(--sat) var(--lum) / var(--alpha)));
  color: var(--color);
}

.aqua {
  --color: var(--aqua);
  color: var(--color);
}

.blue {
  --color: var(--blue);
  color: var(--color);
}

.navy {
  --color: var(--navy);
  color: var(--color);
}

.teal {
  --color: var(--teal);
  color: var(--color);
}

.green {
  --color: var(--green);
  color: var(--color);
}

.olive {
  --color: var(--olive);
  color: var(--color);
}

.lime {
  --color: var(--lime);
  color: var(--color);
}

.yellow {
  --color: var(--yellow);
  color: var(--color);
}

.orange {
  --color: var(--orange);
  color: var(--color);
}

.red {
  --color: var(--red);
  color: var(--color);
}

.fuchsia {
  --color: var(--fuchsia);
  color: var(--color);
}

.purple {
  --color: var(--purple);
  color: var(--color);
}

.maroon {
  --color: var(--maroon);
  color: var(--color);
}

.sat0   { --sat:   0%; }
.sat5   { --sat:   5%; }
.sat10  { --sat:  10%; }
.sat15  { --sat:  15%; }
.sat20  { --sat:  20%; }
.sat25  { --sat:  25%; }
.sat30  { --sat:  30%; }
.sat35  { --sat:  35%; }
.sat40  { --sat:  40%; }
.sat45  { --sat:  45%; }
.sat50  { --sat:  50%; }
.sat55  { --sat:  55%; }
.sat60  { --sat:  60%; }
.sat65  { --sat:  65%; }
.sat70  { --sat:  70%; }
.sat75  { --sat:  75%; }
.sat80  { --sat:  80%; }
.sat85  { --sat:  85%; }
.sat90  { --sat:  90%; }
.sat95  { --sat:  95%; }
.sat100 { --sat: 100%; }

.lum0   { --lum:   0%; }
.lum5   { --lum:   5%; }
.lum10  { --lum:  10%; }
.lum15  { --lum:  15%; }
.lum20  { --lum:  20%; }
.lum25  { --lum:  25%; }
.lum30  { --lum:  30%; }
.lum35  { --lum:  35%; }
.lum40  { --lum:  40%; }
.lum45  { --lum:  45%; }
.lum50  { --lum:  50%; }
.lum55  { --lum:  55%; }
.lum60  { --lum:  60%; }
.lum65  { --lum:  65%; }
.lum70  { --lum:  70%; }
.lum75  { --lum:  75%; }
.lum80  { --lum:  80%; }
.lum85  { --lum:  85%; }
.lum90  { --lum:  90%; }
.lum95  { --lum:  95%; }
.lum100 { --lum: 100%; }

.alpha0   { --alpha:   0%; }
.alpha5   { --alpha:   5%; }
.alpha10  { --alpha:  10%; }
.alpha20  { --alpha:  20%; }
.alpha30  { --alpha:  30%; }
.alpha40  { --alpha:  40%; }
.alpha50  { --alpha:  50%; }
.alpha60  { --alpha:  60%; }
.alpha70  { --alpha:  70%; }
.alpha80  { --alpha:  80%; }
.alpha90  { --alpha:  90%; }
.alpha95  { --alpha:  95%; }
.alpha100 { --alpha: 100%; }
