.color-current,
.color-current\:hover:hover,
.anchor:hover .color-current\:hover {
  color: currentColor;
}

.color-inherit,
.color-inherit\:hover:hover,
.anchor:hover .color-inherit\:hover {
  color: inherit;
}

.color-transparent {
  color: transparent;
}

.black,
.black\:hover:hover,
.anchor:hover .black\:hover {
  --hue: var(--black-hue);
  --sat: var(--black-sat);
  --lum: var(--black-lum);
  --alpha: 100%;
  --color: var(--black, hsla(var(--hue) var(--sat) var(--lum) / var(--alpha)));
  color: var(--color);
}

.white,
.white\:hover:hover,
.anchor:hover .white\:hover {
  --hue: var(--white-hue);
  --sat: var(--white-sat);
  --lum: var(--white-lum);
  --alpha: 100%;
  --color: var(--white, hsla(var(--hue) var(--sat) var(--lum) / var(--alpha)));
  color: var(--color);
}

.gray,
.gray\:hover:hover,
.anchor:hover .gray\:hover {
  --hue: var(--gray-hue);
  --sat: var(--gray-sat);
  --lum: var(--gray-lum);
  --alpha: 100%;
  --color: var(--gray, hsla(var(--hue) var(--sat) var(--lum) / var(--alpha)));
  color: var(--color);
}

.red {
  --hue: var(--red-hue);
  --sat: var(--red-sat);
  --lum: var(--red-lum);
  --alpha: 100%;
  --color: var(--red, hsla(var(--hue) var(--sat) var(--lum) / var(--alpha)));
  color: var(--color);
}

.orange {
  --hue: var(--orange-hue);
  --sat: var(--orange-sat);
  --lum: var(--orange-lum);
  --alpha: 100%;
  --color: var(--orange, hsla(var(--hue) var(--sat) var(--lum) / var(--alpha)));
  color: var(--color);
}

.yellow {
  --hue: var(--yellow-hue);
  --sat: var(--yellow-sat);
  --lum: var(--yellow-lum);
  --alpha: 100%;
  --color: var(--yellow, hsla(var(--hue) var(--sat) var(--lum) / var(--alpha)));
  color: var(--color);
}

.green {
  --hue: var(--green-hue);
  --sat: var(--green-sat);
  --lum: var(--green-lum);
  --alpha: 100%;
  --color: var(--green, hsla(var(--hue) var(--sat) var(--lum) / var(--alpha)));
  color: var(--color);
}

.teal {
  --hue: var(--teal-hue);
  --sat: var(--teal-sat);
  --lum: var(--teal-lum);
  --alpha: 100%;
  --color: var(--teal, hsla(var(--hue) var(--sat) var(--lum) / var(--alpha)));
  color: var(--color);
}

.cyan {
  --hue: var(--cyan-hue);
  --sat: var(--cyan-sat);
  --lum: var(--cyan-lum);
  --alpha: 100%;
  --color: var(--cyan, hsla(var(--hue) var(--sat) var(--lum) / var(--alpha)));
  color: var(--color);
}

.blue {
  --hue: var(--blue-hue);
  --sat: var(--blue-sat);
  --lum: var(--blue-lum);
  --alpha: 100%;
  --color: var(--blue, hsla(var(--hue) var(--sat) var(--lum) / var(--alpha)));
  color: var(--color);
}

.indigo {
  --hue: var(--indigo-hue);
  --sat: var(--indigo-sat);
  --lum: var(--indigo-lum);
  --alpha: 100%;
  --color: var(--indigo, hsla(var(--hue) var(--sat) var(--lum) / var(--alpha)));
  color: var(--color);
}

.purple {
  --hue: var(--purple-hue);
  --sat: var(--purple-sat);
  --lum: var(--purple-lum);
  --alpha: 100%;
  --color: var(--purple, hsla(var(--hue) var(--sat) var(--lum) / var(--alpha)));
  color: var(--color);
}

.pink {
  --hue: var(--pink-hue);
  --sat: var(--pink-sat);
  --lum: var(--pink-lum);
  --alpha: 100%;
  --color: var(--pink, hsla(var(--hue) var(--sat) var(--lum) / var(--alpha)));
  color: var(--color);
}

.ruby {
  --hue: var(--ruby-hue);
  --sat: var(--ruby-sat);
  --lum: var(--ruby-lum);
  --alpha: 100%;
  --color: var(--ruby, hsla(var(--hue) var(--sat) var(--lum) / var(--alpha)));
  color: var(--color);
}

.sat0   { --sat:   0%; }
.sat5   { --sat:   5%; }
.sat10  { --sat:  10%; }
.sat15  { --sat:  15%; }
.sat20  { --sat:  20%; }
.sat25  { --sat:  25%; }
.sat30  { --sat:  30%; }
.sat35  { --sat:  35%; }
.sat40  { --sat:  40%; }
.sat45  { --sat:  45%; }
.sat50  { --sat:  50%; }
.sat55  { --sat:  55%; }
.sat60  { --sat:  60%; }
.sat65  { --sat:  65%; }
.sat70  { --sat:  70%; }
.sat75  { --sat:  75%; }
.sat80  { --sat:  80%; }
.sat85  { --sat:  85%; }
.sat90  { --sat:  90%; }
.sat95  { --sat:  95%; }
.sat100 { --sat: 100%; }

.lum0   { --lum:   0%; }
.lum5   { --lum:   5%; }
.lum10  { --lum:  10%; }
.lum15  { --lum:  15%; }
.lum20  { --lum:  20%; }
.lum25  { --lum:  25%; }
.lum30  { --lum:  30%; }
.lum35  { --lum:  35%; }
.lum40  { --lum:  40%; }
.lum45  { --lum:  45%; }
.lum50  { --lum:  50%; }
.lum55  { --lum:  55%; }
.lum60  { --lum:  60%; }
.lum65  { --lum:  65%; }
.lum70  { --lum:  70%; }
.lum75  { --lum:  75%; }
.lum80  { --lum:  80%; }
.lum85  { --lum:  85%; }
.lum90  { --lum:  90%; }
.lum95  { --lum:  95%; }
.lum100 { --lum: 100%; }

.alpha0   { --alpha:   0%; }
.alpha5   { --alpha:   5%; }
.alpha10  { --alpha:  10%; }
.alpha20  { --alpha:  20%; }
.alpha30  { --alpha:  30%; }
.alpha40  { --alpha:  40%; }
.alpha50  { --alpha:  50%; }
.alpha60  { --alpha:  60%; }
.alpha70  { --alpha:  70%; }
.alpha80  { --alpha:  80%; }
.alpha90  { --alpha:  90%; }
.alpha95  { --alpha:  95%; }
.alpha100 { --alpha: 100%; }
