.cursor-default    { cursor: default; }
.cursor-notallowed { cursor: not-allowed; }
.cursor-progress   { cursor: progress; }
.cursor-pointer    { cursor: pointer; }
.cursor-text       { cursor: text; }
