.show { display: block; }
.hide { display: none; }

.min8  { min-width:  8rem; }
.min10 { min-width: 10rem; }
.min12 { min-width: 12rem; }
.min14 { min-width: 14rem; }
.min16 { min-width: 16rem; }
.min18 { min-width: 18rem; }
.min20 { min-width: 20rem; }
.min24 { min-width: 24rem; }

.max   { max-width: none; }
.max4  { max-width: 4rem; }
.max6  { max-width: 6rem; }
.max8  { max-width: 8rem; }
.max10 { max-width: 10rem; }
.max12 { max-width: 12rem; }
.max15 { max-width: 15rem; }
.max16 { max-width: 16rem; }
.max20 { max-width: 20rem; }
.max22 { max-width: 22rem; }
.max24 { max-width: 24rem; }
.max26 { max-width: 26rem; }
.max28 { max-width: 28rem; }
.max30 { max-width: 30rem; }
.max32 { max-width: 32rem; }
.max34 { max-width: 34rem; }
.max35 { max-width: 35rem; }
.max36 { max-width: 36rem; }
.max38 { max-width: 38rem; }
.max40 { max-width: 40rem; }
.max42 { max-width: 42rem; }
.max44 { max-width: 44rem; }
.max45 { max-width: 45rem; }
.max47 { max-width: 47rem; }
.max48 { max-width: 48rem; }
.max49 { max-width: 49rem; }
.max50 { max-width: 50rem; }
.max51 { max-width: 51rem; }
.max52 { max-width: 52rem; }
.max54 { max-width: 54rem; }
.max55 { max-width: 55rem; }
.max56 { max-width: 56rem; }
.max60 { max-width: 60rem; }
.max64 { max-width: 64rem; }
.max65 { max-width: 65rem; }
.max66 { max-width: 66rem; }
.max68 { max-width: 68rem; }
.max70 { max-width: 70rem; }
.max72 { max-width: 72rem; }
.max74 { max-width: 74rem; }
.max75 { max-width: 75rem; }
.max77 { max-width: 77rem; }
.max78 { max-width: 78rem; }
.max80 { max-width: 80rem; }
.max90 { max-width: 90rem; }

.maxw { max-width:  100%; }
.maxh { max-height: 100%; }

.w100 { width: 100%; }
.w50  { width: 50%; }
.w0   { width: 0%; }
.wa   { width: auto; }

.h100 { height: 100%; }
.h50  { height: 50%; }
.h0   { height: 0%; }
.ha   { height: auto; }

.minvh { min-height: 100vh; }

.row { display: flex; flex-direction: row; }
.col { display: flex; flex-direction: column; }

.row-reverse { display: flex; flex-direction: row-reverse; }
.col-reverse { display: flex; flex-direction: column-reverse; }

.flex-wrap { flex-wrap: wrap; }

.grid2,
.grid3,
.grid4,
.grid5,
.grid6,
.grid7,
.grid8 {
  display: flex;
  flex-wrap: wrap;
}
.grid2 > * { width: calc(100% / 2); }
.grid3 > * { width: calc(100% / 3); }
.grid4 > * { width: calc(100% / 4); }
.grid5 > * { width: calc(100% / 5); }
.grid6 > * { width: calc(100% / 6); }
.grid7 > * { width: calc(100% / 7); }
.grid8 > * { width: calc(100% / 8); }

@supports (display: grid) {
  .grid  { display: grid; }
  .grid2 { display: grid; grid-template-columns: repeat(2, 1fr); }
  .grid3 { display: grid; grid-template-columns: repeat(3, 1fr); }
  .grid4 { display: grid; grid-template-columns: repeat(4, 1fr); }
  .grid5 { display: grid; grid-template-columns: repeat(5, 1fr); }
  .grid6 { display: grid; grid-template-columns: repeat(6, 1fr); }
  .grid7 { display: grid; grid-template-columns: repeat(7, 1fr); }
  .grid8 { display: grid; grid-template-columns: repeat(8, 1fr); }
  .grid2 > *,
  .grid3 > *,
  .grid4 > *,
  .grid5 > *,
  .grid6 > *,
  .grid7 > *,
  .grid8 > * {
    width: auto;
  }
}

.items-start    { align-items: flex-start; }
.items-end      { align-items: flex-end; }
.items-center   { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch  { align-items: stretch; }

.self-start    { align-self: flex-start; }
.self-end      { align-self: flex-end; }
.self-center   { align-self: center; }
.self-baseline { align-self: baseline; }
.self-stretch  { align-self: stretch; }

.justify-start   { justify-content: flex-start; }
.justify-end     { justify-content: flex-end; }
.justify-center  { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around  { justify-content: space-around; }

.span0 { flex: 0; }
.span1 { flex: 1; }
.span2 { flex: 2; }
.span3 { flex: 3; }
.span4 { flex: 4; }
.span5 { flex: 5; }
.span6 { flex: 6; }
.span7 { flex: 7; }
.span8 { flex: 8; }
.span9 { flex: 9; }

.span-auto { flex-basis: auto; }

.order0 { order: 0; }
.order1 { order: 1; }
.order2 { order: 2; }
.order3 { order: 3; }
.order4 { order: 4; }
.order5 { order: 5; }
.order6 { order: 6; }
.order7 { order: 7; }
.order8 { order: 8; }
.order9 { order: 9; }

@media (--view-xs) {

  .xs-show { display: block; }
  .xs-hide { display: none; }

}

@media (--view-sd) {

  .sd-show { display: block; }
  .sd-hide { display: none; }

  .sd-max { max-width: none; }

  .sd-row { display: flex; flex-direction: row; }
  .sd-col { display: flex; flex-direction: column; }

  .sd-row-reverse { display: flex; flex-direction: row-reverse; }
  .sd-col-reverse { display: flex; flex-direction: column-reverse; }

  .sd-grid2,
  .sd-grid3,
  .sd-grid4,
  .sd-grid5,
  .sd-grid6,
  .sd-grid7,
  .sd-grid8 {
    display: flex;
    flex-wrap: wrap;
  }
  .sd-grid2 > * { width: calc(100% / 2); }
  .sd-grid3 > * { width: calc(100% / 3); }
  .sd-grid4 > * { width: calc(100% / 4); }
  .sd-grid5 > * { width: calc(100% / 5); }
  .sd-grid6 > * { width: calc(100% / 6); }
  .sd-grid7 > * { width: calc(100% / 7); }
  .sd-grid8 > * { width: calc(100% / 8); }

  @supports (display: grid) {
    .sd-grid  { display: grid; }
    .sd-grid2 { display: grid; grid-template-columns: repeat(2, 1fr); }
    .sd-grid3 { display: grid; grid-template-columns: repeat(3, 1fr); }
    .sd-grid4 { display: grid; grid-template-columns: repeat(4, 1fr); }
    .sd-grid5 { display: grid; grid-template-columns: repeat(5, 1fr); }
    .sd-grid6 { display: grid; grid-template-columns: repeat(6, 1fr); }
    .sd-grid7 { display: grid; grid-template-columns: repeat(7, 1fr); }
    .sd-grid8 { display: grid; grid-template-columns: repeat(8, 1fr); }
    .sd-grid2 > *,
    .sd-grid3 > *,
    .sd-grid4 > *,
    .sd-grid5 > *,
    .sd-grid6 > *,
    .sd-grid7 > *,
    .sd-grid8 > * {
      width: auto;
    }
  }

  .sd-order0 { order: 0; }
  .sd-order1 { order: 1; }
  .sd-order9 { order: 9; }

}

@media (--view-md) {

  .md-show { display: block; }
  .md-hide { display: none; }

  .md-max { max-width: none; }

  .md-row { display: flex; flex-direction: row; }
  .md-col { display: flex; flex-direction: column; }

  .md-row-reverse { display: flex; flex-direction: row-reverse; }
  .md-col-reverse { display: flex; flex-direction: column-reverse; }

  .md-grid2,
  .md-grid3,
  .md-grid4,
  .md-grid5,
  .md-grid6,
  .md-grid7,
  .md-grid8 {
    display: flex;
    flex-wrap: wrap;
  }
  .md-grid2 > * { width: calc(100% / 2); }
  .md-grid3 > * { width: calc(100% / 3); }
  .md-grid4 > * { width: calc(100% / 4); }
  .md-grid5 > * { width: calc(100% / 5); }
  .md-grid6 > * { width: calc(100% / 6); }
  .md-grid7 > * { width: calc(100% / 7); }
  .md-grid8 > * { width: calc(100% / 8); }

  @supports (display: grid) {
    .md-grid  { display: grid; }
    .md-grid2 { display: grid; grid-template-columns: repeat(2, 1fr); }
    .md-grid3 { display: grid; grid-template-columns: repeat(3, 1fr); }
    .md-grid4 { display: grid; grid-template-columns: repeat(4, 1fr); }
    .md-grid5 { display: grid; grid-template-columns: repeat(5, 1fr); }
    .md-grid6 { display: grid; grid-template-columns: repeat(6, 1fr); }
    .md-grid7 { display: grid; grid-template-columns: repeat(7, 1fr); }
    .md-grid8 { display: grid; grid-template-columns: repeat(8, 1fr); }
    .md-grid2 > *,
    .md-grid3 > *,
    .md-grid4 > *,
    .md-grid5 > *,
    .md-grid6 > *,
    .md-grid7 > *,
    .md-grid8 > * {
      width: auto;
    }
  }

  .md-order0 { order: 0; }
  .md-order1 { order: 1; }
  .md-order9 { order: 9; }

}

@media (--view-ld) {

  .ld-show { display: block; }
  .ld-hide { display: none; }

  .ld-max { max-width: none; }

  .ld-row { display: flex; flex-direction: row; }
  .ld-col { display: flex; flex-direction: column; }

  .ld-row-reverse { display: flex; flex-direction: row-reverse; }
  .ld-col-reverse { display: flex; flex-direction: column-reverse; }

  .ld-grid2,
  .ld-grid3,
  .ld-grid4,
  .ld-grid5,
  .ld-grid6,
  .ld-grid7,
  .ld-grid8 {
    display: flex;
    flex-wrap: wrap;
  }
  .ld-grid2 > * { width: calc(100% / 2); }
  .ld-grid3 > * { width: calc(100% / 3); }
  .ld-grid4 > * { width: calc(100% / 4); }
  .ld-grid5 > * { width: calc(100% / 5); }
  .ld-grid6 > * { width: calc(100% / 6); }
  .ld-grid7 > * { width: calc(100% / 7); }
  .ld-grid8 > * { width: calc(100% / 8); }

  @supports (display: grid) {
    .md-grid  { display: grid; }
    .ld-grid2 { display: grid; grid-template-columns: repeat(2, 1fr); }
    .ld-grid3 { display: grid; grid-template-columns: repeat(3, 1fr); }
    .ld-grid4 { display: grid; grid-template-columns: repeat(4, 1fr); }
    .ld-grid5 { display: grid; grid-template-columns: repeat(5, 1fr); }
    .ld-grid6 { display: grid; grid-template-columns: repeat(6, 1fr); }
    .ld-grid7 { display: grid; grid-template-columns: repeat(7, 1fr); }
    .ld-grid8 { display: grid; grid-template-columns: repeat(8, 1fr); }
    .ld-grid2 > *,
    .ld-grid3 > *,
    .ld-grid4 > *,
    .ld-grid5 > *,
    .ld-grid6 > *,
    .ld-grid7 > *,
    .ld-grid8 > * {
      width: auto;
    }
  }

  .ld-order0 { order: 0; }
  .ld-order1 { order: 1; }
  .ld-order9 { order: 9; }

}

@media (--view-xl) {

  .xl-show { display: block; }
  .xl-hide { display: none; }

  .xl-max { max-width: none; }

  .xl-order0 { order: 0; }
  .xl-order1 { order: 1; }
  .xl-order9 { order: 9; }

}
