.al { text-align: left; }
.ar { text-align: right; }
.ac { text-align: center; }

.uc { text-transform: uppercase; }
.lc { text-transform: lowercase; }
.cc { text-transform: capitalize; }
.nc { text-transform: none; }

.h1 { font-size: var(--h1); }
.h2 { font-size: var(--h2); }
.h3 { font-size: var(--h3); }
.h4 { font-size: var(--h4); }
.h5 { font-size: var(--h5); }
.h6 { font-size: var(--h6); }

.d1 { font-size: var(--d1); }
.d2 { font-size: var(--d2); }
.d3 { font-size: var(--d3); }
.d4 { font-size: var(--d4); }
.d5 { font-size: var(--d5); }

.f0 { font-size: var(--f0); }
.f1 { font-size: var(--f1); }
.f2 { font-size: var(--f2); }
.f3 { font-size: var(--f3); }
.f4 { font-size: var(--f4); }

.lh0 { line-height: var(--lh0); }
.lh1 { line-height: var(--lh1); }
.lh2 { line-height: var(--lh2); }
.lh3 { line-height: var(--lh3); }
.lh4 { line-height: var(--lh4); }
.lh5 { line-height: var(--lh5); }

.rlh0 { line-height: var(--rlh0); }
.rlh1 { line-height: var(--rlh1); }
.rlh2 { line-height: var(--rlh2); }
.rlh3 { line-height: var(--rlh3); }
.rlh4 { line-height: var(--rlh4); }
.rlh5 { line-height: var(--rlh5); }

.bold   { font-weight: var(--bold-fw); }
.fw100  { font-weight: 100; }
.fw200  { font-weight: 200; }
.fw300  { font-weight: 300; }
.fw400  { font-weight: 400; }
.fw500  { font-weight: 500; }
.fw600  { font-weight: 600; }
.fw700  { font-weight: 700; }
.fw800  { font-weight: 800; }
.fw900  { font-weight: 900; }
.fw1000 { font-weight: 1000; }

.italic { font-style: italic; }

.ul,
.ul\:hover:hover,
.anchor:hover .ul\:hover {
  text-decoration: underline;
}

.ol { text-decoration: overline; }
.lt { text-decoration: line-through; }

.va-inherit  { vertical-align: inherit; }
.va-baseline { vertical-align: baseline; }
.va-sub      { vertical-align: sub; }
.va-super    { vertical-align: super; }
.va-middle   { vertical-align: middle; }
.va-top      { vertical-align: top; }
.va-bottom   { vertical-align: bottom; }

.nowrap       { white-space: nowrap;       }
.pre          { white-space: pre;          }
.pre-wrap     { white-space: pre-wrap;     }
.pre-line     { white-space: pre-line;     }
.break-spaces { white-space: break-spaces; }
.break-word   { overflow-wrap: break-word; }

.serif     { font-family: var(--serif-font-family); }
.sansserif { font-family: var(--sansserif-font-family); }
.code      { font-family: var(--code-font-family); }

@media (--view-xs) {

  .xs\:al { text-align: left; }
  .xs\:ar { text-align: right; }
  .xs\:ac { text-align: center; }

}

@media (--view-sd) {

  .sd\:al { text-align: left; }
  .sd\:ar { text-align: right; }
  .sd\:ac { text-align: center; }

  .sd\:h1 { font-size: var(--h1); }
  .sd\:h2 { font-size: var(--h2); }
  .sd\:h3 { font-size: var(--h3); }
  .sd\:h4 { font-size: var(--h4); }
  .sd\:h5 { font-size: var(--h5); }
  .sd\:h6 { font-size: var(--h6); }

  .sd\:d1 { font-size: var(--d1); }
  .sd\:d2 { font-size: var(--d2); }
  .sd\:d3 { font-size: var(--d3); }
  .sd\:d4 { font-size: var(--d4); }
  .sd\:d5 { font-size: var(--d5); }

  .sd\:f0 { font-size: var(--f0); }
  .sd\:f1 { font-size: var(--f1); }
  .sd\:f2 { font-size: var(--f2); }
  .sd\:f3 { font-size: var(--f3); }
  .sd\:f4 { font-size: var(--f4); }

  .sd\:lh0 { line-height: var(--lh0); }
  .sd\:lh1 { line-height: var(--lh1); }
  .sd\:lh2 { line-height: var(--lh2); }
  .sd\:lh3 { line-height: var(--lh3); }
  .sd\:lh4 { line-height: var(--lh4); }
  .sd\:lh5 { line-height: var(--lh5); }

  .sd\:rlh0 { line-height: var(--rlh0); }
  .sd\:rlh1 { line-height: var(--rlh1); }
  .sd\:rlh2 { line-height: var(--rlh2); }
  .sd\:rlh3 { line-height: var(--rlh3); }
  .sd\:rlh4 { line-height: var(--rlh4); }
  .sd\:rlh5 { line-height: var(--rlh5); }

}

@media (--view-md) {

  .md\:al { text-align: left; }
  .md\:ar { text-align: right; }
  .md\:ac { text-align: center; }

  .md\:h1 { font-size: var(--h1); }
  .md\:h2 { font-size: var(--h2); }
  .md\:h3 { font-size: var(--h3); }
  .md\:h4 { font-size: var(--h4); }
  .md\:h5 { font-size: var(--h5); }
  .md\:h6 { font-size: var(--h6); }

  .md\:d1 { font-size: var(--d1); }
  .md\:d2 { font-size: var(--d2); }
  .md\:d3 { font-size: var(--d3); }
  .md\:d4 { font-size: var(--d4); }
  .md\:d5 { font-size: var(--d5); }

  .md\:f0 { font-size: var(--f0); }
  .md\:f1 { font-size: var(--f1); }
  .md\:f2 { font-size: var(--f2); }
  .md\:f3 { font-size: var(--f3); }
  .md\:f4 { font-size: var(--f4); }

  .md\:lh0 { line-height: var(--lh0); }
  .md\:lh1 { line-height: var(--lh1); }
  .md\:lh2 { line-height: var(--lh2); }
  .md\:lh3 { line-height: var(--lh3); }
  .md\:lh4 { line-height: var(--lh4); }
  .md\:lh5 { line-height: var(--lh5); }

  .md\:rlh0 { line-height: var(--rlh0); }
  .md\:rlh1 { line-height: var(--rlh1); }
  .md\:rlh2 { line-height: var(--rlh2); }
  .md\:rlh3 { line-height: var(--rlh3); }
  .md\:rlh4 { line-height: var(--rlh4); }
  .md\:rlh5 { line-height: var(--rlh5); }

}

@media (--view-ld) {

  .ld\:al { text-align: left; }
  .ld\:ar { text-align: right; }
  .ld\:ac { text-align: center; }

  .ld\:h1 { font-size: var(--h1); }
  .ld\:h2 { font-size: var(--h2); }
  .ld\:h3 { font-size: var(--h3); }
  .ld\:h4 { font-size: var(--h4); }
  .ld\:h5 { font-size: var(--h5); }
  .ld\:h6 { font-size: var(--h6); }

  .ld\:d1 { font-size: var(--d1); }
  .ld\:d2 { font-size: var(--d2); }
  .ld\:d3 { font-size: var(--d3); }
  .ld\:d4 { font-size: var(--d4); }
  .ld\:d5 { font-size: var(--d5); }

  .ld\:f0 { font-size: var(--f0); }
  .ld\:f1 { font-size: var(--f1); }
  .ld\:f2 { font-size: var(--f2); }
  .ld\:f3 { font-size: var(--f3); }
  .ld\:f4 { font-size: var(--f4); }

  .ld\:lh0 { line-height: var(--lh0); }
  .ld\:lh1 { line-height: var(--lh1); }
  .ld\:lh2 { line-height: var(--lh2); }
  .ld\:lh3 { line-height: var(--lh3); }
  .ld\:lh4 { line-height: var(--lh4); }
  .ld\:lh5 { line-height: var(--lh5); }

  .ld\:rlh0 { line-height: var(--rlh0); }
  .ld\:rlh1 { line-height: var(--rlh1); }
  .ld\:rlh2 { line-height: var(--rlh2); }
  .ld\:rlh3 { line-height: var(--rlh3); }
  .ld\:rlh4 { line-height: var(--rlh4); }
  .ld\:rlh5 { line-height: var(--rlh5); }

}
