@import '../../src';
/*
@import '-debug';
*/
@import '-type';

.max51 { max-width: 51rem; }

.copy {
  & h1, & h2, & h3, & h4, & h5, & h6 {
    font-weight: 600;
  }
  & a {
    color: var(--blue);
    font-weight: 500;
    text-decoration: underline;
  }
  & pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 1rem;
    background-color: var(--black-10);
    font-size: .875em;
    line-height: 1.5;
    &.cli {
      background-color: var(--black-90);
      color: var(--white);
    }
  }
  & pre a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed;
  }
  & .dollar::before {
    content: "$ ";
    opacity: .5;
  }
  max-width: 45rem;
}

@media (--view-ld) {

  .ld-nav {
    max-height: 100vh;
    position: sticky;
    top: 0;
  }

}

@custom-media --view-sd (min-width: 35rem);
@custom-media --view-md (min-width: 51rem);
@custom-media --view-ld (min-width: 75rem);
