.b {

  &a { border: 1px solid var(--border-color); }
  &l { border-left: 1px solid var(--border-color); }
  &r { border-right: 1px solid var(--border-color); }
  &t { border-top: 1px solid var(--border-color); }
  &b { border-bottom: 1px solid var(--border-color); }

  &r1 { border-radius: .125rem; }
  &r2 { border-radius: .25rem; }
  &r3 { border-radius: .5rem; }
  &r100 { border-radius: 100%; }

  &-red { border-color: var(--red, red); }
  &-pink { border-color: var(--pink, pink); }
  &-purple { border-color: var(--purple, purple); }
  &-indigo { border-color: var(--indigo, indigo); }
  &-blue { border-color: var(--blue, blue); }
  &-cyan { border-color: var(--cyan, cyan); }
  &-teal { border-color: var(--teal, teal); }
  &-green { border-color: var(--green, green); }
  &-lime { border-color: var(--lime, lime); }
  &-yellow { border-color: var(--yellow, yellow); }
  &-orange { border-color: var(--orange, orange); }
  &-brown { border-color: var(--brown, brown); }

}

.div {
  color: inherit;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: currentColor;
  }
}
