.max   { max-width: none; }
.max4  { max-width: 4rem; }
.max6  { max-width: 6rem; }
.max8  { max-width: 8rem; }
.max10 { max-width: 10rem; }
.max12 { max-width: 12rem; }
.max16 { max-width: 16rem; }
.max20 { max-width: 20rem; }
.max24 { max-width: 24rem; }
.max30 { max-width: 30rem; }
.max32 { max-width: 32rem; }
.max36 { max-width: 36rem; }
.max40 { max-width: 40rem; }
.max45 { max-width: 45rem; }
.max47 { max-width: 47rem; }
.max48 { max-width: 48rem; }
.max49 { max-width: 49rem; }
.max50 { max-width: 50rem; }
.max56 { max-width: 56rem; }
.max60 { max-width: 60rem; }
.max64 { max-width: 64rem; }
.max70 { max-width: 70rem; }
.max72 { max-width: 72rem; }
.max74 { max-width: 74rem; }
.max75 { max-width: 75rem; }
.max77 { max-width: 77rem; }
.max80 { max-width: 80rem; }
.max90 { max-width: 90rem; }

.w100 { width: 100%; }
.w50  { width: 50%; }

.h100 { height: 100%; }
.h50  { height: 50%; }

.row { display: flex; flex-direction: row; }
.col { display: flex; flex-direction: column; }

.flex-wrap { flex-wrap: wrap; }

.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid2 > * { width: calc(100% / 2); }
.grid3 > * { width: calc(100% / 3); }
.grid4 > * { width: calc(100% / 4); }
.grid5 > * { width: calc(100% / 5); }
.grid6 > * { width: calc(100% / 6); }
.grid7 > * { width: calc(100% / 7); }

@supports (display: grid) {
  .grid {
    display: grid;
  }
  .grid2 { grid-template-columns: repeat(2, 1fr); }
  .grid3 { grid-template-columns: repeat(3, 1fr); }
  .grid4 { grid-template-columns: repeat(4, 1fr); }
  .grid5 { grid-template-columns: repeat(5, 1fr); }
  .grid6 { grid-template-columns: repeat(6, 1fr); }
  .grid7 { grid-template-columns: repeat(7, 1fr); }
  .grid2 > *,
  .grid3 > *,
  .grid4 > *,
  .grid5 > *,
  .grid6 > *,
  .grid7 > * {
    width: auto;
  }
}

.items-start    { align-items: flex-start; }
.items-end      { align-items: flex-end; }
.items-center   { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch  { align-items: stretch; }

.self-start    { align-self: flex-start; }
.self-end      { align-self: flex-end; }
.self-center   { align-self: center; }
.self-baseline { align-self: baseline; }
.self-stretch  { align-self: stretch; }

.justify-start   { justify-content: flex-start; }
.justify-end     { justify-content: flex-end; }
.justify-center  { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around  { justify-content: space-around; }

.span1 { flex: 1; min-width: 0; min-height: 0; }
.span2 { flex: 2; min-width: 0; min-height: 0; }
.span3 { flex: 3; min-width: 0; min-height: 0; }
.span4 { flex: 4; min-width: 0; min-height: 0; }
.span5 { flex: 5; min-width: 0; min-height: 0; }
.span6 { flex: 6; min-width: 0; min-height: 0; }
.span7 { flex: 7; min-width: 0; min-height: 0; }
.span8 { flex: 8; min-width: 0; min-height: 0; }

.span-auto { flex-basis: auto; }

@media (--ie) {
  .col > * {
    flex-basis: auto;
  }
}

.order0 { order: 0; }
.order1 { order: 1; }
.order2 { order: 2; }
.order3 { order: 3; }
.order4 { order: 4; }
.order5 { order: 5; }
.order6 { order: 6; }
.order7 { order: 7; }
.order8 { order: 8; }
.order9 { order: 9; }

@media (--view-sd) {

  .sd-max { max-width: none; }

  .sd-row { display: flex; flex-direction: row; }
  .sd-col { display: flex; flex-direction: column; }

  .sd-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .sd-grid2 > * { width: calc(100% / 2); }
  .sd-grid3 > * { width: calc(100% / 3); }
  .sd-grid4 > * { width: calc(100% / 4); }
  .sd-grid5 > * { width: calc(100% / 5); }
  .sd-grid6 > * { width: calc(100% / 6); }
  .sd-grid7 > * { width: calc(100% / 7); }

  @supports (display: grid) {
    .sd-grid {
      display: grid;
    }
    .sd-grid2 { grid-template-columns: repeat(2, 1fr); }
    .sd-grid3 { grid-template-columns: repeat(3, 1fr); }
    .sd-grid4 { grid-template-columns: repeat(4, 1fr); }
    .sd-grid5 { grid-template-columns: repeat(5, 1fr); }
    .sd-grid6 { grid-template-columns: repeat(6, 1fr); }
    .sd-grid7 { grid-template-columns: repeat(7, 1fr); }
    .sd-grid2 > *,
    .sd-grid3 > *,
    .sd-grid4 > *,
    .sd-grid5 > *,
    .sd-grid6 > *,
    .sd-grid7 > * {
      width: auto;
    }
  }

}

@media (--view-md) {

  .md-max { max-width: none; }

  .md-row { display: flex; flex-direction: row; }
  .md-col { display: flex; flex-direction: column; }

  .md-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .md-grid2 > * { width: calc(100% / 2); }
  .md-grid3 > * { width: calc(100% / 3); }
  .md-grid4 > * { width: calc(100% / 4); }
  .md-grid5 > * { width: calc(100% / 5); }
  .md-grid6 > * { width: calc(100% / 6); }
  .md-grid7 > * { width: calc(100% / 7); }

  @supports (display: grid) {
    .md-grid {
      display: grid;
    }
    .md-grid2 { grid-template-columns: repeat(2, 1fr); }
    .md-grid3 { grid-template-columns: repeat(3, 1fr); }
    .md-grid4 { grid-template-columns: repeat(4, 1fr); }
    .md-grid5 { grid-template-columns: repeat(5, 1fr); }
    .md-grid6 { grid-template-columns: repeat(6, 1fr); }
    .md-grid7 { grid-template-columns: repeat(7, 1fr); }
    .md-grid2 > *,
    .md-grid3 > *,
    .md-grid4 > *,
    .md-grid5 > *,
    .md-grid6 > *,
    .md-grid7 > * {
      width: auto;
    }
  }

}

@media (--view-ld) {

  .ld-max { max-width: none; }

  .ld-row { display: flex; flex-direction: row; }
  .ld-col { display: flex; flex-direction: column; }

  .ld-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .ld-grid2 > * { width: calc(100% / 2); }
  .ld-grid3 > * { width: calc(100% / 3); }
  .ld-grid4 > * { width: calc(100% / 4); }
  .ld-grid5 > * { width: calc(100% / 5); }
  .ld-grid6 > * { width: calc(100% / 6); }
  .ld-grid7 > * { width: calc(100% / 7); }

  @supports (display: grid) {
    .ld-grid {
      display: grid;
    }
    .ld-grid2 { grid-template-columns: repeat(2, 1fr); }
    .ld-grid3 { grid-template-columns: repeat(3, 1fr); }
    .ld-grid4 { grid-template-columns: repeat(4, 1fr); }
    .ld-grid5 { grid-template-columns: repeat(5, 1fr); }
    .ld-grid6 { grid-template-columns: repeat(6, 1fr); }
    .ld-grid7 { grid-template-columns: repeat(7, 1fr); }
    .ld-grid2 > *,
    .ld-grid3 > *,
    .ld-grid4 > *,
    .ld-grid5 > *,
    .ld-grid6 > *,
    .ld-grid7 > * {
      width: auto;
    }
  }

}
