html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  @media (--ie) {
    height: 100vh;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  outline: 0;
}

hr {
  margin: 0;
  border: 0;
}

svg {
  fill: currentColor;
}
