.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & > * {
    flex-shrink: 0;
  }
  @media (--ie) {
    height: 100%;
  }
  &-main {
    flex-grow: 1;
    flex-basis: auto;
  }
}
