.al { text-align: left; }
.ar { text-align: right; }
.ac { text-align: center; }

.uc { text-transform: uppercase; }
.lc { text-transform: lowercase; }
.cc { text-transform: capitalize; }
.nc { text-transform: none; }

.h1 { font-size: var(--h1); }
.h2 { font-size: var(--h2); }
.h3 { font-size: var(--h3); }
.h4 { font-size: var(--h4); }
.h5 { font-size: var(--h5); }
.h6 { font-size: var(--h6); }

.f0 { font-size: var(--f0); }
.f1 { font-size: var(--f1); }
.f2 { font-size: var(--f2); }
.f3 { font-size: var(--f3); }
.f4 { font-size: var(--f4); }

.lh0 { line-height: var(--lh0); }
.lh1 { line-height: var(--lh1); }
.lh2 { line-height: var(--lh2); }
.lh3 { line-height: var(--lh3); }
.lh4 { line-height: var(--lh4); }
.lh5 { line-height: var(--lh5); }

.normal { font-weight: normal; }
.bold   { font-weight: var(--bold-font-weight); }
.fw100  { font-weight: 100; }
.fw200  { font-weight: 200; }
.fw300  { font-weight: 300; }
.fw400  { font-weight: 400; }
.fw500  { font-weight: 500; }
.fw600  { font-weight: 600; }
.fw700  { font-weight: 700; }
.fw800  { font-weight: 800; }
.fw900  { font-weight: 900; }

.italic { font-style: italic; }

.ol { text-decoration: overline; }
.ul { text-decoration: underline; }
.st { text-decoration: line-through; }

.va-inherit  { vertical-align: inherit; }
.va-baseline { vertical-align: baseline; }
.va-sub      { vertical-align: sub; }
.va-super    { vertical-align: super; }
.va-middle   { vertical-align: middle; }
.va-top      { vertical-align: top; }
.va-bottom   { vertical-align: bottom; }

.nowrap { white-space: nowrap; }

.serif {
  font-family: var(--serif-font-family);
}
.sansserif {
  font-family: var(--sansserif-font-family);
}
.code {
  font-family: var(--code-font-family);
}

@media (--view-sd) {

  .sd-h1 { font-size: var(--h1); }
  .sd-h2 { font-size: var(--h2); }
  .sd-h3 { font-size: var(--h3); }
  .sd-h4 { font-size: var(--h4); }
  .sd-h5 { font-size: var(--h5); }
  .sd-h6 { font-size: var(--h6); }

}

@media (--view-md) {

  .md-h1 { font-size: var(--h1); }
  .md-h2 { font-size: var(--h2); }
  .md-h3 { font-size: var(--h3); }
  .md-h4 { font-size: var(--h4); }
  .md-h5 { font-size: var(--h5); }
  .md-h6 { font-size: var(--h6); }

}

@media (--view-ld) {

  .ld-h1 { font-size: var(--h1); }
  .ld-h2 { font-size: var(--h2); }
  .ld-h3 { font-size: var(--h3); }
  .ld-h4 { font-size: var(--h4); }
  .ld-h5 { font-size: var(--h5); }
  .ld-h6 { font-size: var(--h6); }

}
