.block { display: block; }
.inline { display: inline; }
.inlineblock { display: inline-block; }

.show { display: block; }
.hide { display: none; }

.visible { visibility: visible; }
.invisible { visibility: hidden; }

@media (--view-sd) {

  .sd-show { display: block; }
  .sd-hide { display: none; }

}

@media (--view-md) {

  .md-show { display: block; }
  .md-hide { display: none; }

}

@media (--view-ld) {

  .ld-show { display: block; }
  .ld-hide { display: none; }

}
