.show { display: block; }
.hide { display: none; }

@media (--view-sd) {
  .sd- {
    &show { display: block; }
    &hide { display: none; }
  }
}

@media (--view-md) {
  .md- {
    &show { display: block; }
    &hide { display: none; }
  }
}

@media (--view-ld) {
  .ld- {
    &show { display: block; }
    &hide { display: none; }
  }
}

@media (--view-sd-less) {
  .ltsd- {
    &show { display: block; }
    &hide { display: none; }
  }
}

@media (--view-md-less) {
  .ltmd- {
    &show { display: block; }
    &hide { display: none; }
  }
}

@media (--view-ld-less) {
  .ltld- {
    &show { display: block; }
    &hide { display: none; }
  }
}
