.copy {
  --space: 2em;
  --space-above: var(--space);
  --space-below: var(--space);
  --space-heading-above: var(--space-above);
  --space-heading-below: var(--space-below);
  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    margin-top: var(--space-heading-above);
    margin-top: var(--space-heading-below);
  }
  & > p,
  & > ul,
  & > ol,
  & > dl,
  & > pre,
  & > table,
  & > figure,
  & > blockquote,
  & > div {
    margin-top: var(--space-above);
    margin-bottom: var(--space-below);
  }
}
