.copy {
  --space:         2em;
  --space-heading: var(--space);
  & > :is(h1, h2, h3, h4, h5, h6):not(:first-child) {
    margin-top: var(--space-heading);
  }
  & > :is(p, ul, ol, dl, pre, figure, blockquote, div):not(:first-child) {
    margin-top: var(--space);
  }
  & > :is(p, ul, ol, dl, pre, figure, blockquote, div):not(:last-child) {
    margin-bottom: var(--space);
  }
}
